.SlotsList_golden-text__jwngx {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.SlotsList_lists-container__mini__eGUlN {
    min-height: 88px
}

.SlotsList_inhouse-game-icon__UacKr svg,
.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr svg,
.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV svg,
.SlotsList_quick-link-content__TK7gr .SlotsList_slot-image__6PWfV svg,
.SlotsList_svg-center__sO6IL {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px
}

.SlotsList_carouselBtnNext__9MWfp,
.SlotsList_carouselBtnPrev__uXmpa {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 2
}

.SlotsList_carouselBtnPrev__uXmpa {
    left: 1rem
}

.SlotsList_carouselBtnNext__9MWfp {
    right: 1rem
}

.SlotsList_list-container__5jDuy {
    width: 100%;
    position: relative
}

.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt {
    padding-top: 5px
}

.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt .SlotsList_heading-item__xdC1r {
    display: none
}

.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt .SlotsList_slots-list__kcdUA {
    gap: 10px;
    grid-template-columns: repeat(8, 1fr)
}

.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt .SlotsList_slots-list__kcdUA.SlotsList_mobile-one__LQMMB,
.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt .SlotsList_slots-list__kcdUA.SlotsList_mobile-three__bqO3B,
.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt .SlotsList_slots-list__kcdUA.SlotsList_mobile-two__Vu3cz {
    grid-template-columns: repeat(4, 1fr)
}

.SlotsList_list-container__5jDuy.SlotsList_popular-format__pz4Dt .SlotsList_slots-list__kcdUA.SlotsList_mobile-four__DoVw8 {
    grid-template-columns: repeat(3, 1fr)
}

.SlotsList_list-container__5jDuy.SlotsList_mobile-one__LQMMB .SlotsList_quick-link-content__TK7gr {
    border-radius: 6px;
    overflow: hidden;
    -webkit-flex: 0 1 calc(33.3333333333% - 14px);
    flex: 0 1 calc(33.3333333333% - 14px)
}

.SlotsList_list-container__5jDuy.SlotsList_mobile-two__Vu3cz .SlotsList_quick-link-content__TK7gr {
    border-radius: 6px;
    overflow: hidden;
    -webkit-flex: 0 1 calc(50% - 10px);
    flex: 0 1 calc(50% - 10px)
}

@media(max-width:1100px) {
    .SlotsList_list-container__5jDuy .SlotsList_quick-link-content__TK7gr {
        border-radius: 6px;
        overflow: hidden
    }
}

@media(max-width:768px) {
    .SlotsList_list-container__5jDuy .SlotsList_quick-link-content__TK7gr {
        border-radius: 6px;
        overflow: hidden
    }
}

.SlotsList_list-container__5jDuy .SlotsList_heading-item__xdC1r {
    font-size: 15px;
    margin-bottom: 25px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 8px
}

.SlotsList_list-container__5jDuy .SlotsList_heading-item__xdC1r.SlotsList_clickable__00L4A {
    cursor: pointer;
    width: -webkit-fit-content;
    width: fit-content
}

.SlotsList_list-container__5jDuy .SlotsList_heading-item__xdC1r.SlotsList_slot-hourglass-icon__3WeaD svg {
    margin-right: -2px;
    fill: #7179a5
}

.SlotsList_list-container__5jDuy .SlotsList_heading-item__xdC1r.SlotsList_slot-hourglass-icon__3WeaD svg path {
    width: 18px;
    height: 18px;
    fill: #7179a5
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-one__LQMMB {
    grid-template-columns: repeat(6, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-one__LQMMB.SlotsList_popular-format__pz4Dt {
    padding-top: 5px
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-one__LQMMB.SlotsList_popular-format__pz4Dt .SlotsList_heading-item__xdC1r {
    display: none
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-one__LQMMB.SlotsList_popular-format__pz4Dt .SlotsList_slots-list__kcdUA {
    gap: 10px;
    grid-template-columns: repeat(8, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-two__Vu3cz {
    grid-template-columns: repeat(5, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-three__bqO3B {
    grid-template-columns: repeat(4, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_mobile-four__DoVw8 {
    grid-template-columns: repeat(3, 1fr)
}

@media(max-width:1100px) {
    .SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px
    }
}

@media(max-width:768px) {
    .SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(max-width:420px) {
    .SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA {
        grid-template-columns: repeat(2, 1fr)
    }
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB {
    grid-template-columns: repeat(5, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB.SlotsList_mobile-one__LQMMB {
    grid-template-columns: repeat(3, 1fr)
}

.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB.SlotsList_mobile-four__DoVw8,
.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB.SlotsList_mobile-three__bqO3B,
.SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB.SlotsList_mobile-two__Vu3cz {
    grid-template-columns: repeat(2, 1fr)
}

@media(max-width:1100px) {
    .SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media(max-width:768px) {
    .SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(max-width:420px) {
    .SlotsList_list-container__5jDuy .SlotsList_slots-list__kcdUA.SlotsList_search-modal__uBsOB {
        grid-template-columns: repeat(2, 1fr)
    }
}

.SlotsList_list-container__5jDuy .SlotsList_game-coming-soon__gMH1h {
    display: contents
}

.SlotsList_list-container__5jDuy .SlotsList_game-coming-soon__gMH1h .SlotsList_quick-link-content__TK7gr {
    opacity: .5;
    cursor: auto;
    pointer-events: none;
    position: relative
}

.SlotsList_list-container__5jDuy .SlotsList_game-coming-soon__gMH1h .SlotsList_quick-link-content__TK7gr.SlotsList_mobile-one__LQMMB:before {
    font-size: 20px
}

.SlotsList_list-container__5jDuy .SlotsList_game-coming-soon__gMH1h .SlotsList_quick-link-content__TK7gr:before {
    content: "Coming Soon";
    position: absolute;
    display: block;
    z-index: 99;
    font-size: 47px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    line-height: 1.1;
    padding: 0 25px;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    width: calc(100% - 50px);
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

@media screen and (min-width:1304px) {
    .SlotsList_list-container__5jDuy .SlotsList_game-coming-soon__gMH1h .SlotsList_quick-link-content__TK7gr:before {
        font-size: 30px
    }
}

@media screen and (max-width:489px) {
    .SlotsList_list-container__5jDuy .SlotsList_game-coming-soon__gMH1h .SlotsList_quick-link-content__TK7gr:before {
        font-size: 24px
    }
}

.SlotsList_list-container__5jDuy .SlotsList_carousel-slots-list__LHkQk {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    position: relative;
    border: 1px solid pink;
    height: 150px
}

.SlotsList_list-container__5jDuy .SlotsList_carousel-slots-list__LHkQk .SlotsList_carousel-slots-list-container__BDTE9 {
    position: absolute;
    height: 150px;
    width: 500px;
    border: 1px solid #fff
}

.SlotsList_list-container__5jDuy .SlotsList_carousel-slots-list__LHkQk .SlotsList_carousel-slots-list-container__BDTE9 .SlotsList_quick-link-content__TK7gr {
    width: auto;
    height: 150px;
    display: inline-block
}

.SlotsList_list-container__5jDuy.SlotsList_new-design__xirvs {
    gap: 0;
    padding-top: 20px;
    min-height: unset !important;
    overflow: visible
}

@media screen and (min-width:1200px) {
    .SlotsList_list-container__5jDuy {
        max-width: 1200px
    }
}

.SlotsList_next-prev-container__2L2Hz {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    gap: 10px;
    right: 0;
    top: -8px
}

.SlotsList_next-prev-container__2L2Hz .SlotsList_arrow-icon__Ve6Lk {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid rgba(124, 131, 177, .2);
    background: linear-gradient(180deg, rgba(124, 131, 177, .2), rgba(94, 103, 158, .2));
    cursor: pointer;
    transition: opacity .1s, border .1s, background .1s
}

.SlotsList_next-prev-container__2L2Hz .SlotsList_arrow-icon__Ve6Lk.SlotsList_deactive__H3ZZP {
    cursor: default;
    opacity: .5
}

.SlotsList_next-prev-container__2L2Hz .SlotsList_arrow-icon__Ve6Lk:not(.SlotsList_deactive__H3ZZP):hover {
    border: 1px solid rgba(124, 131, 177, .4);
    background: linear-gradient(180deg, rgba(124, 131, 177, .4), rgba(94, 103, 158, .4))
}

.SlotsList_provider-link-content__DoxEg {
    border-radius: 6px;
    overflow: hidden;
    -webkit-flex: 0 1 calc(16.6666666667% - 17px);
    flex: 0 1 calc(16.6666666667% - 17px);
    height: 60px;
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: #171b34;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    transition: box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.SlotsList_provider-link-content__DoxEg .SlotsList_img-container__OckBp {
    position: relative;
    width: 70%;
    height: 75%;
    max-width: 90px
}

.SlotsList_provider-link-content__DoxEg:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, .15)
}

.SlotsList_inhouse-game-icon__UacKr {
    aspect-ratio: .7562189055;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(73, 131, 181, .85);
    background: linear-gradient(149deg, rgba(73, 131, 181, .65) -1.28%, rgba(5, 42, 72, .65))
}

.SlotsList_inhouse-game-icon__UacKr:hover {
    opacity: 1
}

.SlotsList_inhouse-game-icon__UacKr p {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    opacity: 1;
    padding: 0 10px;
    position: absolute;
    margin-top: 20px
}

@media screen and (max-width:416px) {
    .SlotsList_inhouse-game-icon__UacKr p {
        font-size: 18px
    }
}

.SlotsList_inhouse-game-icon__UacKr span {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    bottom: 20px
}

.SlotsList_slots-list__kcdUA>div {
    display: grid
}

.SlotsList_translate-left__d1sSV {
    -webkit-transform: translateX(-60px) !important;
    transform: translateX(-60px) !important
}

.SlotsList_translate-left__d1sSV:hover {
    -webkit-transform: translate(-60px, -3px) !important;
    transform: translate(-60px, -3px) !important
}

.SlotsList_quick-link-content__TK7gr {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: #151a33;
    aspect-ratio: .7562189055;
    transition: box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.SlotsList_quick-link-content__TK7gr.SlotsList_last-slot-slider--first__JvrIo,
.SlotsList_quick-link-content__TK7gr.SlotsList_last-slot-slider__eu836 {
    opacity: .6;
    pointer-events: none;
    -webkit-mask-image: linear-gradient(90deg, #000 0, transparent 80%);
    mask-image: linear-gradient(90deg, #000 0, transparent 80%)
}

.SlotsList_quick-link-content__TK7gr.SlotsList_last-slot-slider--first__JvrIo {
    -webkit-mask-image: linear-gradient(270deg, #000 0, transparent 80%);
    mask-image: linear-gradient(270deg, #000 0, transparent 80%)
}

.SlotsList_quick-link-content__TK7gr img {
    opacity: 1
}

.SlotsList_quick-link-content__TK7gr:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, .15)
}

.SlotsList_quick-link-content__TK7gr:hover .SlotsList_slot-image__6PWfV {
    opacity: 1
}

.SlotsList_quick-link-content__TK7gr:hover .SlotsList_game-details-display__LSZjb {
    opacity: .2
}

.SlotsList_quick-link-content__TK7gr .SlotsList_slot-image__6PWfV {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background: rgba(73, 131, 181, .85);
    background: linear-gradient(149deg, rgba(73, 131, 181, .65) -1.28%, rgba(5, 42, 72, .65))
}

.SlotsList_quick-link-content__TK7gr .SlotsList_slot-image__6PWfV p {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    opacity: 1;
    padding: 0 10px;
    margin-top: 20px
}

.SlotsList_quick-link-content__TK7gr .SlotsList_slot-image__6PWfV.SlotsList_mobile-three__bqO3B {
    font-size: 16px
}

@media screen and (max-width:416px) {
    .SlotsList_quick-link-content__TK7gr .SlotsList_slot-image__6PWfV {
        font-size: 16px
    }
}

.SlotsList_quick-link-content__TK7gr .SlotsList_slot-image__6PWfV span {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    bottom: 20px
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-button__at_tp {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity .5s ease-in-out;
    opacity: 0
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-button__at_tp svg {
    fill: #7179a5;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-content__OfvYO {
    background-color: #191f3b;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding: 15px 18px;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-content__OfvYO span {
    padding-bottom: 10px;
    display: block;
    text-transform: capitalize
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-content__OfvYO .SlotsList_info-heading__r5RL7 {
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 1.2em
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-content__OfvYO .SlotsList_info-sub__oIJul {
    font-size: 13px;
    color: #7179a5
}

.SlotsList_quick-link-content__TK7gr .SlotsList_more-info-content__OfvYO.SlotsList_active__qmAz5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto
}

.SlotsList_quick-link-content__TK7gr:hover .SlotsList_more-info-button__at_tp {
    opacity: 1
}

.SlotsList_quick-link-content-blocked__SgxIS {
    border-radius: 6px;
    overflow: hidden;
    -webkit-flex: 0 1 calc(16.6666666667% - 17px);
    flex: 0 1 calc(16.6666666667% - 17px);
    display: block;
    box-sizing: border-box;
    aspect-ratio: .7562189055;
    transition: box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-transform .3s ease-in-out;
    position: relative;
    background-color: #151a33
}

.SlotsList_quick-link-content-blocked__SgxIS img {
    opacity: 1
}

.SlotsList_quick-link-content-blocked__SgxIS:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    cursor: pointer
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: 1;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(149deg, rgba(13, 34, 52, .85) -1.28%, rgba(4, 13, 21, .85));
    transition: box-shadow .3s ease-in-out, opacity .2s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, opacity .2s ease-in-out;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, opacity .2s ease-in-out, -webkit-transform .3s ease-in-out
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV p {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    margin-top: 20px
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV p.SlotsList_mobile-three__bqO3B {
    font-size: 16px
}

@media screen and (max-width:416px) {
    .SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV p {
        font-size: 18px
    }
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV span {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    bottom: 20px;
    opacity: 0
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_slot-image__6PWfV svg {
    opacity: 0
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr {
    aspect-ratio: .7562189055;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: 1;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(149deg, rgba(13, 34, 52, .85) -1.28%, rgba(4, 13, 21, .85))
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr p {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    margin-top: 20px
}

@media screen and (max-width:416px) {
    .SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr p {
        font-size: 18px
    }
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr span {
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    position: absolute;
    bottom: 20px;
    opacity: 0
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr svg {
    opacity: 0
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr:hover {
    background: linear-gradient(149deg, rgba(24, 56, 84, .85) -1.28%, rgba(10, 30, 48, .85))
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr:hover p,
.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr:hover span,
.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_inhouse-game-icon__UacKr:hover svg {
    opacity: 1
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-button__at_tp {
    position: absolute;
    right: 10px;
    top: 10px;
    transition: opacity .5s ease-in-out;
    opacity: 1
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-button__at_tp svg {
    fill: #7179a5;
    color: #7179a5
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-button__at_tp svg path {
    color: #7179a5
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-content__OfvYO {
    background-color: #191f3b;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding: 15px 18px;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-content__OfvYO span {
    padding-bottom: 10px;
    display: block;
    text-transform: capitalize
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-content__OfvYO .SlotsList_info-heading__r5RL7 {
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 1.2em
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-content__OfvYO .SlotsList_info-sub__oIJul {
    font-size: 13px;
    color: #7179a5
}

.SlotsList_quick-link-content-blocked__SgxIS .SlotsList_more-info-content__OfvYO.SlotsList_active__qmAz5 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto
}

.SlotsList_quick-link-content-blocked__SgxIS:hover .SlotsList_more-info-button__at_tp {
    opacity: 1;
    transition: none
}

.SlotsList_search-area__OImXg {
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid rgba(232, 229, 255, .05);
    background: linear-gradient(180deg, #171c36 54%, rgba(23, 28, 54, .8));
    padding: 24px;
    margin-bottom: 28px
}

.SlotsList_search-area__OImXg,
.SlotsList_search-area__OImXg .SlotsList_row-area__TW8J4 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.SlotsList_search-area__OImXg .SlotsList_row-area__TW8J4 {
    gap: 14px
}

.SlotsList_search-area__OImXg .SlotsList_row-area__TW8J4 .SlotsList_search__7nV5T {
    width: 100%
}

.SlotsList_search-area__OImXg .SlotsList_filter-area__XV1zE {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    gap: 14px
}

@media screen and (min-width:1280px) {
    .SlotsList_search-area__OImXg .SlotsList_filter-area__XV1zE.SlotsList_new-design__xirvs {
        max-width: 530px
    }
}

.SlotsList_search-area__OImXg.SlotsList_mobile-three__bqO3B {
    -webkit-flex-direction: column;
    flex-direction: column
}

.SlotsList_search-area__OImXg.SlotsList_mobile-three__bqO3B .SlotsList_filter-area__XV1zE {
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 14px
}

@media screen and (max-width:769px) {
    .SlotsList_search-area__OImXg {
        -webkit-flex-direction: column;
        flex-direction: column
    }
    .SlotsList_search-area__OImXg .SlotsList_filter-area__XV1zE {
        width: 100%;
        -webkit-flex-direction: column;
        flex-direction: column;
        gap: 14px
    }
}

.SlotsList_search-area__OImXg.SlotsList_new-design__xirvs {
    gap: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none
}

.SlotsList_search-area__OImXg .SlotsList_line-wrapper__2r41z {
    width: 100%;
    position: relative;
    padding-top: 20px;
    margin-bottom: 32px
}

.SlotsList_search-area__OImXg .SlotsList_line__u_wzB {
    background-color: hsla(0, 0%, 100%, .05);
    height: 1px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-left: 50vw;
    padding-right: 50vw
}

.SlotsList_no-found-message__8uqnh {
    color: #fff;
    line-height: 1.55em;
    letter-spacing: .01em
}

@-webkit-keyframes SlotsList_pulsate__criku {
    0%,
    to {
        background-position: 0 100%
    }
    50% {
        background-position: 100% 0
    }
}

@keyframes SlotsList_pulsate__criku {
    0%,
    to {
        background-position: 0 100%
    }
    50% {
        background-position: 100% 0
    }
}

.SlotsList_loading-card-mini__WmRLM,
.SlotsList_loading-card__6TfrU {
    border-radius: 6px;
    width: 100%;
    aspect-ratio: .7562189055;
    background: linear-gradient(90deg, rgba(21, 26, 51, .8) 25%, #21263f 50%, rgba(21, 26, 51, .8) 75%);
    background-size: 200% 200%;
    -webkit-animation: SlotsList_pulsate__criku 2s ease-in-out infinite;
    animation: SlotsList_pulsate__criku 2s ease-in-out infinite
}

.SlotsList_loading-card-mini__WmRLM {
    aspect-ratio: 1.59/1
}

.SlotsList_gradient-overlay__KN3Rt {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 23%;
    z-index: 1;
    background: linear-gradient(0deg, #151a33 5%, rgba(21, 26, 51, 0))
}

.SlotsList_game-details-display__LSZjb {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center
}

.SlotsList_game-details-display__LSZjb .SlotsList_region-blocked-text__5Pp0z {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #e8f5ff;
    padding: 12px 6px 9px
}

@media(max-width:768px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_region-blocked-text__5Pp0z {
        font-size: 12px;
        line-height: 14px
    }
}

@media(max-width:480px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_region-blocked-text__5Pp0z {
        font-size: 10px;
        line-height: 10px
    }
}

.SlotsList_game-details-display__LSZjb .SlotsList_region-blocked-overlay__5sQpz svg {
    width: 35px;
    height: 35px
}

@media(max-width:768px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_region-blocked-overlay__5sQpz svg {
        width: 26px;
        height: 26px
    }
}

@media(max-width:480px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_region-blocked-overlay__5sQpz svg {
        width: 20px;
        height: 20px
    }
}

.SlotsList_game-details-display__LSZjb .SlotsList_h3__zbz5a {
    line-height: 1.2em;
    padding-bottom: 8px;
    font-size: 14px;
    overflow: hidden;
    font-weight: 700;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
}

@media(max-width:420px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_h3__zbz5a {
        font-size: 14px
    }
}

@media(max-width:400px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_h3__zbz5a {
        font-size: 13px
    }
}

.SlotsList_game-details-display__LSZjb .SlotsList_sub-text__7UvLD {
    font-size: 11px;
    color: #fff
}

@media(max-width:400px) {
    .SlotsList_game-details-display__LSZjb .SlotsList_sub-text__7UvLD {
        font-size: 11px
    }
}

.SlotsList_providers-page-container__TYbAe {
    padding-top: 25px
}

.SlotsList_providers-page-container__TYbAe .SlotsList_providers-page-input-container__cjcXx {
    margin: 20px 0
}

.SlotsList_providers-page-container__TYbAe .SlotsList_providers-list__LE07S {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px
}

.SlotsList_providers-page-container__TYbAe .SlotsList_providers-list__LE07S.SlotsList_mobile-two__Vu3cz {
    grid-template-columns: repeat(2, 1fr)
}

.SlotsList_providers-page-container__TYbAe .SlotsList_providers-list__LE07S.SlotsList_mobile-three__bqO3B {
    grid-template-columns: repeat(1, 1fr)
}

.SlotsList_provider-games-container__P4DGX {
    padding-top: 25px
}

.SlotsList_provider-games-container__P4DGX .SlotsList_filter-area__XV1zE {
    max-width: 300px
}

.SlotsList_row-area__TW8J4 {
    display: -webkit-flex;
    display: flex;
    gap: 14px;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.SlotsList_row-area__TW8J4 .SlotsList_search__7nV5T {
    width: 100%
}

@media(max-width:1280px) {
    .SlotsList_row-area__TW8J4 {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        gap: 14px;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }
    .SlotsList_row-area__TW8J4 .SlotsList_search__7nV5T {
        width: 100%
    }
}

.SlotsList_slot-image-container__aBvOn {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff
}

.SlotsList_slot-image-overlay__Qy0el {
    height: 29px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .5) 38.5%, rgba(0, 0, 0, .7));
    text-align: center
}

.SlotsList_slot-image-overlay__Qy0el span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 4px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    font-size: 9px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: .5px;
    font-family: var(--oswald-font);
    text-transform: uppercase;
    font-weight: 400
}

@media(max-width:768px) {
    .SlotsList_slot-image-overlay__Qy0el span {
        font-size: 7.5px;
        padding-bottom: 3px
    }
    .SlotsList_slot-image-overlay__Qy0el {
        height: 22px
    }
}