.ValueDisplay_golden-text__sgEYs {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ValueDisplay_value-display__Zl3L5 {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 4px
}

.ValueDisplay_value-display__Zl3L5 .ValueDisplay_value-number-display__Z3TJd {
    color: rgba(232, 229, 255, .85)
}

.ValueDisplay_custom-value-display__2_hjf {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 4px
}

.ValueDisplay_custom-value-display__2_hjf span {
    color: rgba(232, 229, 255, .75);
    font-size: 13px
}

.ValueDisplay_currency-icon__zh_dK {
    width: 22px;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_xlarge__OO6SL {
    width: 25px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_large__cvUlo {
    width: 20px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_mid__sv_Ck {
    width: 17px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_small__oYAlV {
    width: 14px;
    height: 14px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_balance__0I_4W {
    width: 15px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_inline-popup-icon__a9E42 {
    width: 13px;
    display: block
}

.ValueDisplay_currency-icon__zh_dK svg {
    width: 100%
}

.ValueDisplay_currency-icon__zh_dK .ValueDisplay_text-icon__iyt_H {
    font-size: inherit;
    padding: 0;
    color: #daa030
}

.ValueDisplay_span-class__rx28A {
    color: rgba(232, 229, 255, .75);
    font-size: 12px;
    display: inline-block
}

.ValueDisplay_text-currency__eWvkF {
    gap: 2px
}

.ValueDisplay_text-display__l63tN {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 500
}

.ValueDisplay_value__8zmxa.ValueDisplay_value-number-display__Z3TJd {
    color: rgba(232, 229, 255, .85)
}

.ValueDisplay_value__8zmxa.ValueDisplay_value-number-display__Z3TJd[style*="--symbol-color"] span[data-currency-symbol=true] {
    color: var(--symbol-color)
}

.ValueIcons_golden-text__MirFv {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ValueIcons_value-icon__AeyXs {
    width: 20px;
    display: -webkit-inline-flex;
    display: inline-flex
}

.ValueIcons_value-icon__AeyXs.ValueIcons_large__zugCg {
    width: 18px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_mid__IZqLX {
    width: 15px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_small__O9nT_ {
    width: 13px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_inline-popup-icon__0xjuK {
    width: 13px;
    display: block
}

.ValueIcons_value-icon__AeyXs svg {
    width: 100%
}

.ValueIcons_value-icon__AeyXs .ValueIcons_text-icon__Qi9Ky {
    font-size: 14px;
    padding: 0;
    color: #daa030
}