.BalanceDropDown_golden-text__L7Kkh {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.BalanceDropDown_lock-balance__WTnM8 {
    pointer-events: none;
    opacity: .8;
    transition: opacity .2s ease-in-out
}

.BalanceDropDown_balance-quick-select-container__oG23_ {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 15px
}

.BalanceDropDown_balance-quick-select-container__oG23_ .BalanceDropDown_quick-select-heading__i93W4 {
    width: 100%;
    text-align: left;
    padding: 0 15px 10px
}

.BalanceDropDown_balance-quick-select-container__oG23_ .BalanceDropDown_quick-select-heading__i93W4 span {
    font-size: 12px;
    color: #e8e5ff
}

.BalanceDropDown_base-balance-display__b_Y4l {
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    gap: 5px;
    color: #e8e5ff;
    font-size: 13px;
    border: 2px solid #282f58;
    background-color: #262c52;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 6px;
    padding: 10px 20px 10px 15px;
    min-width: 130px;
    height: 100%
}

.BalanceDropDown_base-balance-display__b_Y4l svg {
    width: 14px
}

.BalanceDropDown_base-balance-display__b_Y4l.BalanceDropDown_center__gZNl5 {
    -webkit-justify-content: center;
    justify-content: center
}

.BalanceDropDown_main-balance-display__XNkyQ {
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    -webkit-align-items: center;
    align-items: center
}

.BalanceDropDown_balance-drop-item__3phkA {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    position: relative;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.BalanceDropDown_balance-drop-item__3phkA .BalanceDropDown_balance-name__YpuNy {
    font-size: 12px;
    color: #e8e5ff;
    transition: color .2s ease-in-out
}

.BalanceDropDown_balance-drop-item__3phkA .BalanceDropDown_balance-name__YpuNy svg path {
    transition: fill .2s ease-in-out
}

.BalanceDropDown_balance-drop-item__3phkA .BalanceDropDown_balance-name__active__bp_7H {
    color: #7dd934
}

.BalanceDropDown_balance-drop-item__3phkA .BalanceDropDown_balance-name__active__bp_7H svg path {
    fill: #7dd934
}

.BalanceDropDown_balance-drop-item__3phkA svg {
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
}

.BalanceDropDown_radio-icon__m4M0F {
    border-radius: 50%;
    display: -webkit-flex;
    display: flex;
    width: 20px;
    height: 20px;
    right: 0;
    top: 10px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    border: 1px solid transparent;
    background-color: rgba(15, 19, 40, .416);
    transition: border .2s ease-in-out
}

.BalanceDropDown_radio-icon__m4M0F .BalanceDropDown_radio-icon-inner__XRJzR {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #64b425;
    scale: 0;
    transition: scale .2s ease-in-out
}

.BalanceDropDown_radio-icon__active__sNNJv {
    border: 1px solid #64b425
}

.BalanceDropDown_radio-icon__active__sNNJv .BalanceDropDown_radio-icon-inner__XRJzR {
    scale: 1
}

.BalanceDropDown_balance-select-container__aDRz_ {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #262c52;
    position: relative;
    z-index: 5008
}

.BalanceDropDown_balance-select-container__aDRz_ .BalanceDropDown_loader-container__WP34l {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(38, 44, 82, .278);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: opacity .2s ease-in-out
}

.BalanceDropDown_balance-select-container__aDRz_ .BalanceDropDown_loader-container__show__yQvk9 {
    opacity: 1
}

.BalanceDropDown_balance-select__JjV2P {
    pointer-events: none;
    padding: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 5px
}

.BalanceDropDown_balance-select__JjV2P.BalanceDropDown_has-promo__Z4u8A {
    pointer-events: auto
}

.BalanceDropDown_balance-select__JjV2P .BalanceDropDown_vault-balance-container__2UyyJ {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 5px 15px 0
}

.BalanceDropDown_balance-select__JjV2P .BalanceDropDown_vault-balance-container__2UyyJ .BalanceDropDown_desc__eM_D5 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 5px
}

.BalanceDropDown_balance-select__JjV2P .BalanceDropDown_vault-balance-container__2UyyJ span {
    color: #e8e5ff;
    font-size: 12px
}

.BalanceDropDown_inPlay-balance-dropdown-container__H7ykU {
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    -webkit-align-items: center;
    align-items: center
}

.BalanceDropDown_inPlay-balance-dropdown-container__H7ykU div {
    font-size: 14px;
    color: #dedaeb
}

.BalanceDropDown_inPlay-balance-dropdown-container__H7ykU svg {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px)
}

.BalanceDropDown_balance-drop-down-footer__kQNfp {
    padding: 4px
}

.BalanceDropDown_balance-drop-down-footer__kQNfp .BalanceDropDown_balance-drop-down-footer-line__c74m1 {
    width: 100%;
    height: 1px;
    border-top: 1px solid hsla(0, 0%, 100%, .071)
}

.BalanceDropDown_balance-drop-down-footer__kQNfp .BalanceDropDown_current-currency-displayed__ZhADS {
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 12px;
    color: #e8e5ff
}

.RakebackBoost_container__SAbbI {
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: flex;
    height: 48px;
    padding: 0 12px 0 10px;
    -webkit-align-items: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    transition: all .2s ease;
    font-size: 12px;
    background: radial-gradient(115.08% 100% at 50% 101.11%, rgba(255, 179, 0, .1) 0, rgba(255, 179, 0, .01) 100%), linear-gradient(180deg, rgba(124, 131, 177, .15), rgba(94, 103, 158, .12)), #191f3b;
    text-wrap: nowrap;
    border: 1px solid #534e53
}

.RakebackBoost_container__SAbbI svg {
    transition: all .2s ease
}

.RakebackBoost_container__SAbbI .RakebackBoost_info__mljFw .RakebackBoost_label__m5RB0 {
    font-size: 12.5px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    background: linear-gradient(180deg, #fff0cc, #ffb300);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.RakebackBoost_container__SAbbI .RakebackBoost_info__mljFw .RakebackBoost_time__HCEeO {
    color: #e8e5ff;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-top: 3px
}

@media screen and (max-width:1280px) {
    .RakebackBoost_container__SAbbI {
        width: 38px;
        height: 48px;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        border-radius: 6px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center
    }
    .RakebackBoost_container__SAbbI .RakebackBoost_container-header__jvzA7,
    .RakebackBoost_container__SAbbI .RakebackBoost_info__mljFw {
        display: none
    }
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_dropdown-version__pY_PW) {
        border: 1px solid transparent;
        background: transparent
    }
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_dropdown-version__pY_PW):after {
        display: none
    }
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_dropdown-version__pY_PW) svg {
        width: 26px;
        height: 26px
    }
}

.RakebackBoost_container__SAbbI.RakebackBoost_mobile__AfeQR {
    width: 100%;
    height: 67px;
    padding: 10px 12px 10px 16px;
    gap: 10px;
    border: 1px solid transparent;
    background: radial-gradient(115.08% 100% at 50% 101.11%, rgba(255, 179, 0, .3) 0, rgba(255, 179, 0, .03) 100%), linear-gradient(180deg, rgba(124, 131, 177, .15), rgba(94, 103, 158, .12))
}

.RakebackBoost_container__SAbbI.RakebackBoost_mobile__AfeQR .RakebackBoost_info__mljFw {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.RakebackBoost_container__SAbbI.RakebackBoost_mobile__AfeQR .RakebackBoost_info__mljFw .RakebackBoost_time__HCEeO {
    font-size: 13px
}

.RakebackBoost_container__SAbbI.RakebackBoost_mobile__AfeQR .RakebackBoost_info__mljFw .RakebackBoost_label__m5RB0 {
    font-size: 14px
}

@media screen and (max-width:540px) {
    .RakebackBoost_container__SAbbI.RakebackBoost_mobile__AfeQR .RakebackBoost_svg-container-rakeback-boost__Gmcv8 svg {
        width: 45px;
        height: 45px
    }
}

.RakebackBoost_container__SAbbI:not(.RakebackBoost_no-hover__KgZnq):hover {
    border-radius: 6px;
    border: 1px solid #6e686e;
    background: radial-gradient(115.08% 100% at 50% 101.11%, rgba(255, 179, 0, .25) 0 rgba(255, 179, 0, .25) 100%), linear-gradient(180deg, rgba(124, 131, 177, .15), rgba(94, 103, 158, .12))
}

.RakebackBoost_container__SAbbI:not(.RakebackBoost_no-hover__KgZnq):hover .RakebackBoost_tooltip__kKilR {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-27%) translateY(0);
    transform: translateX(-27%) translateY(0)
}

@media(max-width:1280px) {
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_no-hover__KgZnq):hover:not(.RakebackBoost_dropdown-version__pY_PW) {
        border: 1px solid transparent
    }
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_no-hover__KgZnq):hover:not(.RakebackBoost_dropdown-version__pY_PW) .RakebackBoost_tooltip__kKilR {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-74%) translateY(0);
        transform: translateX(-74%) translateY(0)
    }
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_no-hover__KgZnq):hover:not(.RakebackBoost_dropdown-version__pY_PW) svg circle {
        fill: rgba(222, 168, 39, .1)
    }
    .RakebackBoost_container__SAbbI:not(.RakebackBoost_no-hover__KgZnq):hover:not(.RakebackBoost_dropdown-version__pY_PW) svg {
        width: 26px;
        height: 26px
    }
}

.RakebackBoost_svg-container-rakeback-boost__Gmcv8 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

@media(max-width:530px) {
    .RakebackBoost_svg-container-rakeback-boost__Gmcv8 {
        display: -webkit-flex !important;
        display: flex !important
    }
}

.RakebackBoost_tooltip__kKilR {
    width: 100%;
    min-width: 250px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 12px;
    position: absolute;
    top: calc(100% + 10px);
    left: -49%;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    border-radius: 6px;
    border: 1px solid rgba(124, 131, 177, .45);
    background: radial-gradient(237.62% 100% at 50% 101.11%, rgba(255, 179, 0, .1) 0, rgba(255, 179, 0, .01) 100%), linear-gradient(180deg, rgba(124, 131, 177, .15), rgba(94, 103, 158, .12)), #191f3b;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    gap: 8px
}

.RakebackBoost_tooltip__kKilR:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-style: solid;
    border-color: #7c83b1 transparent transparent
}

.RakebackBoost_tooltip__kKilR .RakebackBoost_tooltip-text__NnacB {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-wrap: auto;
    line-height: 130%
}

.RakebackBoost_tooltip__kKilR .RakebackBoost_tooltip-text__NnacB span:not(:first-child) {
    color: #e8e5ff
}

.RakebackBoost_tooltip__kKilR .RakebackBoost_tooltip-text__NnacB .RakebackBoost_rake-label__g0IWV {
    color: transparent;
    background: linear-gradient(180deg, #fff0cc, #ffb300);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 11px
}

.RakebackBoost_tooltip__kKilR.RakebackBoost_inside-dropdown__6qVdJ {
    top: -120%;
    left: 50%;
    -webkit-transform: translateX(-51%) translateY(0);
    transform: translateX(-51%) translateY(0)
}

.RakebackBoost_tooltip__kKilR.RakebackBoost_inside-dropdown__6qVdJ:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: #7c83b1
}

.RakebackBoost_tooltip-inside-dropdown__yWof_ {
    top: 72px;
    left: 27%;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0)
}

.RakebackBoost_tooltip-inside-dropdown__yWof_:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-style: solid;
    border-color: #7c83b1 transparent transparent
}

.RakebackBoost_dropdown-version__pY_PW {
    background: radial-gradient(115.08% 100% at 50% 101.11%, rgba(255, 240, 204, .1) 0, rgba(255, 179, 0, .1) 100%), linear-gradient(180deg, rgba(124, 131, 177, .15), rgba(94, 103, 158, .15)) !important;
    border: 1px solid transparent;
    position: relative
}

.RakebackBoost_dropdown-version__pY_PW:after {
    content: "";
    position: absolute;
    inset: -1px;
    padding: 1px;
    border-radius: 6px;
    background: linear-gradient(180deg, #fff0cc, #ffb300);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none
}

.RakebackBoost_info-hovered__dK9Rt {
    transition: all .2s ease;
    background: radial-gradient(115.08% 100% at 50% 101.11%, rgba(255, 179, 0, .1) 0, rgba(255, 179, 0, .01) 100%), linear-gradient(180deg, rgba(124, 131, 177, .15), rgba(94, 103, 158, .12)), #191f3b
}

.RakebackBoost_info-hovered__dK9Rt .RakebackBoost_tooltip__kKilR {
    left: 50%;
    opacity: 1;
    visibility: visible
}

.raffle-drop-down_raffle-side-bar-container__5eQrl {
    top: 0;
    width: 100%;
    height: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 100%, .173)
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_left-side__WzcA8 {
    display: -webkit-flex;
    display: flex;
    gap: 10px
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_heading-container__Owd_f {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 200px;
    text-overflow: ellipsis
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_heading-container__Owd_f .raffle-drop-down_title__cYlmH {
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    background: linear-gradient(181.17deg, #fff 39.55%, #e7e6de 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-wrap: nowrap;
    text-shadow: 0 0 18.0339px hsla(0, 0%, 100%, .5)
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_heading-container__Owd_f .raffle-drop-down_sub-title__QgTWL {
    font-style: italic;
    font-weight: 700;
    font-size: 11px;
    line-height: 100%;
    padding: 2px 2px 2px 0;
    background: linear-gradient(189.63deg, #fff 11.2%, #ffd706 97.93%);
    text-wrap: nowrap;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 100%;
    text-shadow: 0 0 18.0339px rgba(222, 181, 52, .5)
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_right-side__u65UA .raffle-drop-down_days-left-container__cs100 {
    background: linear-gradient(0deg, #ffe356 20%, rgba(255, 227, 86, .004));
    border-radius: 4px;
    padding: 1px
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_right-side__u65UA .raffle-drop-down_days-left-container__cs100 .raffle-drop-down_days-left-container-inner__PCRnk {
    border: 1px solid rgba(255, 227, 86, 0);
    background: #2e2f32;
    border-radius: inherit;
    padding: 3px
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_right-side__u65UA .raffle-drop-down_days-left-container__cs100 span {
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .165px;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, .593px .593px 0 #ffe356
}

.raffle-drop-down_raffle-side-bar-container__5eQrl .raffle-drop-down_right-side__u65UA .raffle-drop-down_days-left-container__cs100 span:first-child {
    padding-right: 2px
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL {
    border-bottom: 1px solid hsla(0, 0%, 100%, .173);
    padding-bottom: 15px;
    margin-bottom: 15px;
    -webkit-align-content: center;
    align-content: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL .raffle-drop-down_icon-container__5oREM {
    height: 50px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    transition: all .15s ease-in-out
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL .raffle-drop-down_icon-container__5oREM .raffle-drop-down_background-glow__vlVq7 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center bottom, #ffd788 0, rgba(0, 0, 255, 0) 100%);
    transition: opacity .15s ease-in-out;
    border-radius: inherit
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL .raffle-drop-down_icon-container__5oREM img {
    transition: all .15s ease-in-out;
    z-index: 1
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL .raffle-drop-down_icon-container__5oREM:hover {
    border: 1px solid #ffd788
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL .raffle-drop-down_icon-container__5oREM:hover .raffle-drop-down_background-glow__vlVq7 {
    opacity: 1
}

.raffle-drop-down_raffle-mini-side-bar-container__5LfcL .raffle-drop-down_icon-container__5oREM:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    translate: 0 -2px
}

.raffle-drop-down_raffle-drop-down-container__BvjHu {
    border: 1px solid #ffd788;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 62px;
    background: #191f3b;
    border-radius: 6px;
    transition: background .15s ease;
    cursor: pointer
}

.raffle-drop-down_raffle-drop-down-container__BvjHu:after,
.raffle-drop-down_raffle-drop-down-container__BvjHu:before {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity .15s ease
}

.raffle-drop-down_raffle-drop-down-container__BvjHu:before {
    background: linear-gradient(180deg, rgba(226, 179, 15, .25), rgba(252, 224, 77, .25));
    opacity: 1
}

.raffle-drop-down_raffle-drop-down-container__BvjHu:after {
    background: radial-gradient(100% 100% at 50% 0, rgba(252, 224, 77, .25) 0, rgba(252, 224, 77, 0) 100%), linear-gradient(180deg, rgba(226, 179, 15, .25), rgba(252, 224, 77, .25));
    opacity: 0
}

.raffle-drop-down_raffle-drop-down-container__BvjHu:hover:before {
    opacity: 0
}

.raffle-drop-down_raffle-drop-down-container__BvjHu:hover:after {
    opacity: 1
}

.raffle-drop-down_raffle-drop-down-container__BvjHu:hover .raffle-drop-down_icon-container__5oREM {
    -webkit-animation: raffle-drop-down_exitAnimation__ejddE .15s ease forwards;
    animation: raffle-drop-down_exitAnimation__ejddE .15s ease forwards
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_icon-container__5oREM {
    -webkit-animation: raffle-drop-down_returnAnimation__q29ZV .15s ease forwards;
    animation: raffle-drop-down_returnAnimation__q29ZV .15s ease forwards
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_left-side__WzcA8 {
    display: -webkit-flex;
    display: flex;
    gap: 10px;
    z-index: 1;
    position: relative
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_icon-container__5oREM {
    margin-bottom: -25px
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_heading-container__Owd_f {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_heading-container__Owd_f .raffle-drop-down_title__cYlmH {
    padding-top: 2px;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background: linear-gradient(181.17deg, #fff 39.55%, #e7e6de 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-wrap: nowrap;
    text-shadow: 0 0 18.0339px hsla(0, 0%, 100%, .5)
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_left-side__WzcA8 .raffle-drop-down_heading-container__Owd_f .raffle-drop-down_sub-title__QgTWL {
    font-style: italic;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    padding: 2px 2px 2px 0;
    text-wrap: nowrap;
    text-transform: uppercase;
    background: linear-gradient(189.63deg, #fff 11.2%, #ffd706 97.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-shadow: 0 0 18.0339px rgba(222, 181, 52, .5)
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_right-side__u65UA {
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    z-index: 1;
    position: relative
}

.raffle-drop-down_raffle-drop-down-container__BvjHu .raffle-drop-down_right-side__u65UA span {
    font-size: 16px
}

@-webkit-keyframes raffle-drop-down_exitAnimation__ejddE {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
}

@keyframes raffle-drop-down_exitAnimation__ejddE {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
}

@-webkit-keyframes raffle-drop-down_returnAnimation__q29ZV {
    0% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes raffle-drop-down_returnAnimation__q29ZV {
    0% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}