.GameUi_golden-text__N4cPT {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.GameUi_green__umILq {
    color: #7dd934
}

.GameUi_green__umILq * {
    color: inherit
}

.GameUi_game-container__E_Czr {
    box-sizing: border-box;
    margin: 0;
    transition: padding .3s ease-in-out
}

.GameUi_game-container__E_Czr,
.GameUi_game-container__E_Czr .GameUi_game-content-container__hGUxU {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column
}

.GameUi_game-container__E_Czr .GameUi_game-content-container__hGUxU {
    -webkit-justify-content: center;
    justify-content: center
}

.GameUi_game-container__E_Czr .GameUi_game-display___XMKn {
    width: 100%
}

.GameUi_games-heading__1kmKE {
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 25px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.GameUi_games-heading__1kmKE .GameUi_games-heading-title__rbubu {
    display: -webkit-flex;
    display: flex;
    gap: 8px;
    -webkit-align-items: center;
    align-items: center
}

.GameUi_games-heading__1kmKE h1 {
    font-size: 17px
}

.GameUi_games-heading__1kmKE .GameUi_game-heading-nav__psIj1 {
    display: -webkit-flex;
    display: flex;
    gap: 10px;
    -webkit-align-items: center;
    align-items: center
}

.GameUi_games-heading__1kmKE.GameUi_case-open-top__yqOYl {
    padding-top: 25px
}

.GameUi_game-side-bar-container__7SAG5 {
    width: 340px;
    border-radius: 6px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.GameUi_game-side-bar-container__7SAG5.GameUi_mobile-two__SQmgi {
    width: 100%
}

@media(max-width:1100px) {
    .GameUi_game-side-bar-container__7SAG5 {
        width: 100%
    }
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj {
    border-radius: 6px;
    padding: 20px;
    background-color: #191f3b;
    margin-bottom: 20px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj,
.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_bottom-background__QnTy0 {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

@media(max-width:520px) {
    .GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_bottom-background__QnTy0 {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: 16px
    }
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_top-field-container__ARj2_ * {
    position: relative
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_top-field-container__ARj2_>div>div:nth-child(2)>div>div {
    width: auto !important
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_top-field-container__ARj2_ label {
    pointer-events: all
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_top-field-container__ARj2_ input {
    padding-left: 5px !important
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_top-field__gp7xj .GameUi_top-field-container__ARj2_ .GameUi_currency-icon__omVAt span {
    line-height: 50px;
    font-size: 14px;
    color: #7d7e97 !important
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji {
    background-color: #191f3b;
    border-radius: 6px;
    padding-top: 20px;
    width: 100%;
    font-size: 13px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji span {
    font-family: var(--main-font);
    color: #b7b4d2
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji .GameUi_heading__8Kod8 {
    padding-left: 20px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji .GameUi_stats-header__ouvA7 {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 13px;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 20px 20px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji .GameUi_stats-header__ouvA7 .GameUi_user-count__zBlcS {
    display: -webkit-flex;
    display: flex;
    gap: 5px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji .GameUi_stats-header__ouvA7 .GameUi_user-count__zBlcS p {
    color: #b7b4d2
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_player-display-field__CF6ji .GameUi_stats-header__ouvA7 .GameUi_player-pot__cllkN {
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    -webkit-align-items: center;
    align-items: center
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-family: var(--main-font);
    padding-top: 20px;
    padding-bottom: 10px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU span {
    color: #72d76c;
    font-size: 28px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_profit__nknP7 h3 {
    color: #7179a5;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 14px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_profit__nknP7>div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_profit__nknP7>div .GameUi_value-icon__xdWl3 {
    width: 30px;
    display: -webkit-flex;
    display: flex
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_profit__nknP7>div .GameUi_value-icon__xdWl3 svg {
    width: 100%
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_profit__nknP7>div span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_icon__AoWvC {
    margin-right: -20px;
    margin-top: -30px;
    position: relative
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_dice-profit-display__fbKlU .GameUi_icon__AoWvC svg {
    width: 110px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD {
    padding-left: 20px;
    width: 100%;
    height: 300px;
    padding-right: 10px;
    overflow-y: auto
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD::-webkit-scrollbar {
    width: .5em;
    height: .5em
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD::-webkit-scrollbar-thumb {
    background: #242a4b;
    border-radius: 6px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD::-webkit-scrollbar-track {
    background: transparent
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD {
    scrollbar-face-color: #242a4b;
    scrollbar-track-color: transparent
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE {
    border-radius: 6px;
    height: 45px;
    margin-bottom: 5px;
    padding-right: 15px;
    background-color: #252b4d;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE p {
    font-family: var(--main-font)
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE:nth-child(2n) {
    background: linear-gradient(40deg, #252b4d, transparent);
    background: linear-gradient(90deg, #000)
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_color-gradient__MfPRd {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    z-index: 0
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_color-gradient__MfPRd.GameUi_r__XxrfU {
    background: linear-gradient(90deg, rgba(217, 43, 80, .3), rgba(217, 43, 80, 0))
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_color-gradient__MfPRd.GameUi_b__HddQu {
    background: linear-gradient(90deg, rgba(78, 83, 123, .3), rgba(78, 83, 123, 0))
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_color-gradient__MfPRd.GameUi_g__5Hcof {
    background: linear-gradient(90deg, rgba(114, 215, 108, .3), rgba(114, 215, 108, 0))
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_multiplier__k3om4 {
    margin-left: auto;
    margin-right: 20px;
    line-height: 1em
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9 {
    text-align: center;
    padding-left: 20px;
    font-family: var(--main-font);
    font-size: 13px;
    display: -webkit-flex;
    display: flex;
    z-index: 2;
    transition: opacity .5s ease-in-out;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_won__luIIp {
    color: #64b425
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9 .GameUi_hidden__iMprg {
    color: #7179a5;
    display: -webkit-flex;
    display: flex;
    gap: 5px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9 .GameUi_roulette-indicator__cp_ol {
    margin-right: 10px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9 .GameUi_roulette-indicator__cp_ol div {
    border-radius: 50%;
    width: 5px;
    height: 5px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_mult-color-r__YrKw5 .GameUi_roulette-indicator__cp_ol {
    background-color: rgba(217, 43, 80, .5)
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_mult-color-r__YrKw5 .GameUi_roulette-indicator__cp_ol div {
    background-color: #d92b50
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_mult-color-g__kgoyr .GameUi_roulette-indicator__cp_ol {
    background-color: rgba(114, 215, 108, .5)
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_mult-color-g__kgoyr .GameUi_roulette-indicator__cp_ol div {
    background-color: #72d76c
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_mult-color-b__egU_9 .GameUi_roulette-indicator__cp_ol {
    background-color: rgba(78, 83, 123, .5)
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_mult-color-b__egU_9 .GameUi_roulette-indicator__cp_ol div {
    background-color: #4e537b
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_game-over__sSlb7 {
    opacity: .1
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_left-section__pQWb9.GameUi_win__CEBiN {
    opacity: 1
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_bet-amount__nX5yO {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 5px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_bet-amount__nX5yO span {
    padding-top: 2px
}

.GameUi_game-side-bar-container__7SAG5 .GameUi_user-display-list__aY5TD .GameUi_player-display-item__C_afE .GameUi_bet-amount__nX5yO.GameUi_won__luIIp p {
    color: #64b425
}

.GameUi_game-description__mqF0i {
    width: 100%;
    margin-top: 40px;
    border-radius: 6px;
    padding: 25px;
    background-color: #191f3b;
    display: -webkit-flex;
    display: flex;
    gap: 30px
}

@media(max-width:650px) {
    .GameUi_game-description__mqF0i {
        margin-top: 40px
    }
}

@media(max-width:450px) {
    .GameUi_game-description__mqF0i {
        gap: 20px
    }
}

.GameUi_game-description__mqF0i.GameUi_mobile-three__0Hdsv {
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    padding: 0
}

.GameUi_game-description__mqF0i.GameUi_mobile-three__0Hdsv .GameUi_game-image-container__rIJ5u {
    display: -webkit-flex;
    display: flex;
    gap: 20px;
    -webkit-flex-basis: 170px;
    flex-basis: 170px;
    max-width: none
}

.GameUi_game-description__mqF0i.GameUi_mobile-three__0Hdsv .GameUi_game-image-container__rIJ5u .GameUi_game-image__10mlP {
    max-width: 130px
}

.GameUi_game-description__mqF0i.GameUi_mobile-three__0Hdsv .GameUi_game-image-container__rIJ5u hr {
    display: none
}

.GameUi_game-description__slot-mobile-display__sPaVQ {
    margin-top: 40px;
    -webkit-flex-direction: column;
    flex-direction: column
}

.GameUi_game-description__slot-mobile-display__sPaVQ .GameUi_game-image-container__rIJ5u {
    width: 100%;
    gap: 20px;
    display: -webkit-flex;
    display: flex;
    max-width: none !important;
    -webkit-flex-basis: auto !important;
    flex-basis: auto !important
}

.GameUi_game-description__slot-mobile-display__sPaVQ .GameUi_game-image-container__rIJ5u .GameUi_game-image__10mlP {
    max-width: 162px;
    min-width: 122px
}

@media(max-width:450px) {
    .GameUi_game-description__slot-mobile-display__sPaVQ .GameUi_game-image-container__rIJ5u .GameUi_game-image__10mlP {
        max-width: 100px !important
    }
}

.GameUi_game-description__slot-mobile-display__sPaVQ .GameUi_meta-container__QJwpP {
    width: 100%;
    gap: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.GameUi_game-description__slot-mobile-display__sPaVQ .GameUi_meta-container__QJwpP hr {
    display: none
}

.GameUi_game-description__slot-mobile-display__sPaVQ .GameUi_meta-container__QJwpP .GameUi_mobile-heading__2gZJT {
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 1.4
}

.GameUi_game-description__mqF0i .GameUi_count__Wv45l {
    min-width: 100px
}

.GameUi_game-description__mqF0i .GameUi_count__type__Q3TUF {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 6px;
    height: 20px
}

.GameUi_game-description__mqF0i .GameUi_count__type__Q3TUF svg path {
    fill: linear-gradient(180deg, #5cb4ff, #0082f0), #0077db
}

.GameUi_game-description__mqF0i .GameUi_count__title__wdi76 {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 14px
}

.GameUi_game-description__mqF0i .GameUi_count__value__Uu0Ou {
    border-radius: 8px;
    border: 1px solid rgba(124, 131, 177, .145);
    background: linear-gradient(180deg, rgba(124, 131, 177, .05), rgba(94, 103, 158, .05)), rgba(38, 44, 82, .3);
    display: -webkit-flex;
    display: flex;
    padding: 10px 15px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    gap: 10px;
    width: 180px;
    -webkit-align-self: stretch;
    align-self: stretch;
    color: rgba(232, 229, 255, .75);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.GameUi_game-description__mqF0i .GameUi_count__value__Uu0Ou span {
    color: #e8e5ff;
    font-weight: 500;
    margin-right: 6px
}

.GameUi_game-description__mqF0i h1 {
    margin-bottom: 27px;
    color: #e8e5ff;
    font-size: 14px
}

.GameUi_game-description__mqF0i p {
    font-size: 13px;
    color: #7179a5
}

.GameUi_game-description__mqF0i .GameUi_game-image-container__rIJ5u {
    -webkit-flex-basis: 180px;
    flex-basis: 180px;
    width: 100%;
    max-width: 180px;
    position: relative
}

.GameUi_game-description__mqF0i .GameUi_game-image-container__rIJ5u img {
    border-radius: 6px
}

@media(max-width:992px) {
    .GameUi_game-description__mqF0i .GameUi_game-image-container__rIJ5u {
        max-width: 170px
    }
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-container__BUo4b {
    font-size: 13px;
    min-height: 170px;
    width: 100%;
    color: #7179a5
}

@media(min-width:1100px) {
    .GameUi_game-description__mqF0i .GameUi_game-description-bottom-container__BUo4b {
        width: calc(100% - 210px)
    }
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-container__BUo4b h1 {
    margin-bottom: 15px
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-container__BUo4b.GameUi_mobile-version__qcE6d h2 {
    display: none
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-buttons__A1EyB {
    display: -webkit-flex;
    display: flex;
    border-radius: 6px;
    display: -webkit-inline-flex;
    display: inline-flex;
    background-color: #262c52;
    padding: 4px;
    gap: 1px;
    border: 2px solid #282f58;
    margin-bottom: 28px
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-buttons__A1EyB h2 {
    font-size: 15px;
    color: #c1c4dc;
    line-height: 1.4em;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-buttons__A1EyB H3 {
    font-size: 14px;
    color: #c1c4dc;
    line-height: 1.4em;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-description-bottom-buttons__A1EyB H4,
.GameUi_game-description__mqF0i .GameUi_game-description-bottom-buttons__A1EyB H5,
.GameUi_game-description__mqF0i .GameUi_game-description-bottom-buttons__A1EyB H6 {
    font-size: 14px;
    line-height: 1.4em;
    margin: 20px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb {
    line-height: 1.5em
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h1,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h2,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h3,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h4,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h5,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h6 {
    padding: 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb h1 {
    font-size: 20px;
    line-height: 1em;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb H2 {
    font-size: 15px;
    color: #c1c4dc;
    line-height: 1.4em;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb H3 {
    font-size: 14px;
    color: #c1c4dc;
    line-height: 1.4em;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb H4,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb H5,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb H6 {
    font-size: 14px;
    line-height: 1.4em;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb p {
    font-size: 14px;
    margin: 15px 0 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) {
    padding: 16px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid rgba(124, 131, 177, .314);
    background: linear-gradient(180deg, rgba(124, 131, 177, .05), rgba(94, 103, 158, .05)), rgba(38, 44, 82, .3)
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) table {
    width: 100% !important
}

@media screen and (max-width:500px) {
    .GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) table {
        min-width: 450px
    }
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) table tbody tr p {
    margin: 10px 0
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) table tbody tr td {
    padding-left: 4px
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) table tbody tr :first-child p {
    color: #e8e5ff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) table tbody tr:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 100%, .05)
}

@media screen and (max-width:500px) {
    .GameUi_game-description__mqF0i .GameUi_game-content__neRcb div:has(table) {
        overflow-x: scroll
    }
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb ol,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb ul {
    list-style-type: decimal
}

.GameUi_game-description__mqF0i .GameUi_game-content__neRcb ol li,
.GameUi_game-description__mqF0i .GameUi_game-content__neRcb ul li {
    text-align: left;
    margin-left: 1rem;
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 15px;
    color: #b2b1c9
}

.GameUi_game-settings-btn__3iRZV {
    bottom: 20px;
    left: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    gap: 10px;
    z-index: 10
}

.GameUi_game-settings-btn__3iRZV.GameUi_crash__795RC {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.GameUi_game-settings-btn__3iRZV.GameUi_dice__ZJ9gV {
    bottom: auto;
    left: auto;
    right: 20px;
    top: 20px
}

.GameUi_game-settings-btn__3iRZV.GameUi_case__NgPsU {
    position: absolute;
    left: auto;
    right: 0
}

.GameUi_roulette-btn-container__otE9l .GameUi_heading__8Kod8 {
    padding-bottom: 5px;
    font-size: 13px;
    color: #7179a5;
    font-family: var(--main-font)
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 {
    display: -webkit-flex;
    display: flex;
    gap: 10px;
    transition: opacity .5s ease-in-out
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6.GameUi_hide__a_Nab {
    opacity: .25;
    pointer-events: none
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6.GameUi_hide__a_Nab .GameUi_bet-color-select__UHwgM {
    pointer-events: none
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 .GameUi_bet-color-select__UHwgM {
    background-color: #37ba2f;
    width: 100%;
    position: absolute;
    bottom: 4px;
    top: 0;
    border-radius: 6px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    transition: bottom .2s ease-in-out
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 .GameUi_bet-color-select__UHwgM.GameUi_green__umILq {
    background: linear-gradient(45deg, #7fd879, #37ba2f)
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 .GameUi_bet-color-select__UHwgM.GameUi_red__BiNrf {
    background: linear-gradient(45deg, #e33952, #ac003e)
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 .GameUi_bet-color-select__UHwgM.GameUi_black__BL6Fs {
    background: linear-gradient(45deg, #383f62, #303458)
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 .GameUi_bet-color-select__UHwgM .GameUi_color-name__DV5Bt {
    font-family: var(--main-font);
    font-size: 10px
}

.GameUi_roulette-btn-container__otE9l .GameUi_btn-container__kR0U6 .GameUi_bet-color-select__UHwgM span {
    font-family: var(--main-font);
    font-size: 15px;
    color: #fff
}

.GameUi_mobile-bet-btn-container__J6W7k {
    margin-bottom: 10px
}

.Toggle_golden-text__8ODTI {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.Toggle_inputWrapper__ad_Kd {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 15px
}

.Toggle_toggle-content__jNTlW {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    gap: 10px;
    font-size: 13px;
    font-family: var(--main-font)
}

.Toggle_toggle-content__jNTlW.Toggle_no-name__dhCEW {
    gap: 0
}

.Toggle_toggle-switch__eemcQ {
    width: 60px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    background-color: #262c52;
    border: none
}

.Toggle_toggle-switch__eemcQ:hover {
    cursor: pointer
}

.Toggle_toggle-switch__eemcQ .Toggle_gradient-item__9jbhz {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: all .3s ease;
    background: linear-gradient(80deg, #64b425, #7dd934)
}

.Toggle_toggle-switch__eemcQ .Toggle_switch-icon__FydT_ {
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    background-color: #fff;
    margin: 1px;
    left: 3px;
    top: 2px;
    z-index: 1;
    transition: all .3s ease
}

.Toggle_toggle-switch__eemcQ.Toggle_active-toggle__pygP7 .Toggle_switch-icon__FydT_,
input:checked+.Toggle_toggle-switch__eemcQ .Toggle_switch-icon__FydT_ {
    left: 32px
}

.Toggle_toggle-switch__eemcQ.Toggle_active-toggle__pygP7 .Toggle_gradient-item__9jbhz,
input:checked+.Toggle_toggle-switch__eemcQ .Toggle_gradient-item__9jbhz {
    opacity: 1
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-blue__jio76 {
    width: 44px;
    height: 26px;
    background-color: hsla(0, 0%, 100%, .106)
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-blue__jio76 .Toggle_gradient-item__9jbhz {
    background: linear-gradient(80deg, #0077db, #2099ff)
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-blue__jio76 .Toggle_switch-icon__FydT_ {
    width: 20px;
    height: 20px
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-blue__jio76.Toggle_active-toggle__pygP7 .Toggle_switch-icon__FydT_,
input:checked+.Toggle_toggle-switch__eemcQ.Toggle_gradient-blue__jio76 .Toggle_switch-icon__FydT_ {
    left: 20px
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-green___iqdO {
    width: 44px;
    height: 26px;
    background-color: hsla(0, 0%, 100%, .106)
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-green___iqdO .Toggle_gradient-item__9jbhz {
    background: linear-gradient(80deg, #64b425, #7dd934)
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-green___iqdO .Toggle_switch-icon__FydT_ {
    width: 20px;
    height: 20px
}

.Toggle_toggle-switch__eemcQ.Toggle_gradient-green___iqdO.Toggle_active-toggle__pygP7 .Toggle_switch-icon__FydT_,
input:checked+.Toggle_toggle-switch__eemcQ.Toggle_gradient-green___iqdO .Toggle_switch-icon__FydT_ {
    left: 20px
}

.Toggle_toggle-switch__eemcQ.Toggle_s-small__3w8jS {
    width: 36px;
    height: 18px;
    border-radius: 20px
}

.Toggle_toggle-switch__eemcQ.Toggle_s-small__3w8jS .Toggle_switch-icon__FydT_ {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 3px;
    top: 3px;
    margin: 0
}

.Toggle_toggle-switch__eemcQ.Toggle_s-small__3w8jS.Toggle_active-toggle__pygP7 .Toggle_switch-icon__FydT_,
input:checked+.Toggle_toggle-switch__eemcQ.Toggle_s-small__3w8jS .Toggle_switch-icon__FydT_ {
    left: 21px
}

.Slots_golden-text__03cvg {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.Slots_providers-container__h8Nls {
    padding-top: 20px
}

.Slots_games-heading-title__Am8X5 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 20px
}

.Slots_games-heading-title__Am8X5 h1 {
    font-size: 17px
}

.Slots_games-heading-title__Am8X5 svg {
    width: 40px;
    height: 40px
}

.Slots_games-heading-title__Am8X5 button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    padding: 12px 14px;
    cursor: pointer;
    border-radius: 66px;
    border: 1px solid #212649;
    background: radial-gradient(76.33% 100% at 50% 100%, #262c52 0, rgba(38, 44, 82, .1) 100%), #202546;
    transition: all .1s ease-in-out
}

.Slots_games-heading-title__Am8X5 button svg {
    width: 15px
}

.Slots_games-heading-title__Am8X5 button.Slots_active__2FIN7,
.Slots_games-heading-title__Am8X5 button:hover {
    cursor: pointer;
    background: #0077db;
    border: 1px solid #0077db
}

.Slots_games-heading-title__Am8X5 button.Slots_active__2FIN7 p,
.Slots_games-heading-title__Am8X5 button:hover p {
    color: #fff
}

.Slots_games-heading-title__Am8X5 button:hover svg path {
    stroke: #fff;
    stroke-opacity: 1
}

.Slots_games-heading-title__Am8X5 .Slots_games-container__r8tQu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 10px
}

.Slots_games-heading-title__Am8X5 .Slots_games-container__r8tQu h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 700
}

.Slots_games-heading-title__Am8X5 .Slots_games-container__r8tQu svg {
    width: 22.318px;
    height: 24px
}

.Slots_mobile-option-display__ZX_aH {
    background-color: #202648;
    padding: 15px;
    border-radius: 6px
}

.Slots_mobile-option-display__ZX_aH .Slots_mobile-toggles-content__Mxa2S {
    display: -webkit-flex;
    display: flex;
    gap: 20px
}

@media(max-width:415px) {
    .Slots_mobile-option-display__ZX_aH .Slots_mobile-toggles-content__Mxa2S {
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px
    }
    .Slots_mobile-option-display__ZX_aH .Slots_mobile-toggles-content__Mxa2S .Slots_mobile-toggle-container__aCOr1 {
        margin-bottom: 0
    }
}

.Slots_mobile-option-display__ZX_aH .Slots_mobile-toggle-container__aCOr1 {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    margin-left: -10px
}

.Slots_mobile-option-display__ZX_aH .Slots_mobile-toggle-container__aCOr1 span {
    font-size: 12px
}

.Slots_mobile-option-display__ZX_aH .Slots_mobile-toggle-container__turn-off__CJS2e {
    opacity: .5;
    pointer-events: none
}

.Slots_mobile-option-display__ZX_aH .Slots_mobile-play-btn-container___jqg6 .Slots_mobile-register-login-container__CHmCr {
    display: -webkit-flex;
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.Slots_container__4JMBd {
    background-color: #191f3b;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: auto;
    margin-bottom: 40px
}

@media(max-width:1100px) {
    .Slots_container__4JMBd {
        margin: 0
    }
}

.Slots_container__4JMBd .Slots_game-content__kCakJ,
.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ {
    position: relative;
    width: 100%
}

@media(min-width:1000px) {
    .Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ {
        padding-bottom: var(--aspectratio)
    }
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_loading-spinner__vTqix {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 50px;
    height: 50px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_slot-game-container__0khzO {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #141931;
    z-index: 998
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_slot-game-container__0khzO iframe {
    width: 100%;
    height: 100%
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_slot-game-container__0khzO.Slots_mobile-view__lrc8m {
    display: none
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_slot-game-container__0khzO.Slots_active-mobile-view__Xgz_4 {
    display: block;
    position: fixed;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100
}

@media(max-width:1100px) {
    .Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_slot-game-container__0khzO.Slots_active-mobile-view__Xgz_4 {
        padding-bottom: 68px;
        padding-top: 68px
    }
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_aspect-ratio__vSYS_ .Slots_slot-game-container__0khzO.Slots_full-screen__pqOaQ {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 5100;
    position: fixed
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_overlay___ic1_ {
    position: absolute;
    z-index: 999;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
    transition: opacity .3s ease-in-out
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_overlay___ic1_.Slots_active-overaly__G_YG9 {
    opacity: 1
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_overlay___ic1_.Slots_close__5d52S {
    display: none;
    pointer-events: none
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_overlay___ic1_ .Slots_button-content__mDR_A {
    display: -webkit-flex;
    display: flex;
    gap: 10px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw {
    background-color: #151a33;
    height: 80px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-align-items: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw.Slots_mobile-three__5_Xpp {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    height: 140px !important;
    gap: 10px;
    padding: 15px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T {
    display: -webkit-flex;
    display: flex;
    gap: 40px;
    -webkit-align-items: center;
    align-items: center
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T svg {
    width: 131px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T .Slots_divider-line__WEI_t {
    height: 40px;
    width: 2px;
    background: #10152b
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-one__mNhmw {
    gap: 30px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-one__mNhmw svg {
    width: 120px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-two__GOFxj {
    gap: 20px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-two__GOFxj svg {
    width: 100px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-three__5_Xpp {
    gap: 0;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-three__5_Xpp svg {
    width: 80px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_slot-game-bar-left-container__CKA2T.Slots_mobile-three__5_Xpp .Slots_divider-line__WEI_t {
    display: none
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il {
    cursor: default;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il h2 {
    color: #e8e5ff;
    font-size: 14px;
    font-style: normal;
    line-height: normal
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il .Slots_game-link-content__H5vqK {
    display: -webkit-inline-flex;
    display: inline-flex;
    padding: 2px 0;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    gap: 7px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il .Slots_game-link-content__H5vqK h3 {
    color: rgba(232, 229, 255, .5);
    font-size: 13px;
    font-style: normal;
    line-height: normal
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il .Slots_game-link-content__H5vqK svg {
    width: 11px;
    margin-top: 4px;
    display: none;
    fill: rgba(232, 229, 255, .85)
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il .Slots_game-link-content__H5vqK:hover {
    text-decoration: underline
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il .Slots_game-link-content__H5vqK:hover h3 {
    color: rgba(232, 229, 255, .85)
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il .Slots_game-link-content__H5vqK:hover svg {
    display: block
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il.Slots_mobile-three__5_Xpp h2 {
    font-size: 12px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-info__dx_il.Slots_mobile-three__5_Xpp h3 {
    font-size: 11px
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-options__EITAZ {
    display: -webkit-flex;
    display: flex;
    gap: 20px;
    -webkit-align-items: center;
    align-items: center
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-options__EITAZ .Slots_game-options-buttons__VePBD {
    display: -webkit-flex;
    display: flex;
    gap: 0;
    -webkit-align-items: center;
    align-items: center
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-options__EITAZ.Slots_mobile-three__5_Xpp {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%
}

.Slots_container__4JMBd .Slots_game-content__kCakJ .Slots_slot-game-bar__e5fFw .Slots_game-options__EITAZ.Slots_mobile-three__5_Xpp .Slots_game-options-buttons__VePBD {
    margin-left: 10px
}

.Slots_error-display__TLtaw {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    color: #7179a5
}

.Slots_error-display__TLtaw,
.Slots_error-display__TLtaw .Slots_error-content__iTY0t {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.Slots_error-display__TLtaw .Slots_error-content__iTY0t {
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    line-height: 1.1em;
    padding: 20px
}

.Slots_error-display__TLtaw .Slots_error-content__iTY0t p {
    color: #7179a5
}

.Slots_error-display__TLtaw .Slots_error-content__iTY0t svg {
    width: 50px
}

.Slots_error-display__TLtaw .Slots_error-content__iTY0t .Slots_demo-error-button-container__rYAO9 {
    display: -webkit-flex;
    display: flex;
    gap: 10px
}

@media(max-width:1100px) {
    .Slots_error-display__TLtaw {
        position: relative;
        border-radius: 6px
    }
}

.Slots_demo-toggle__eOQDC {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 10px
}

.Slots_demo-toggle__eOQDC .Slots_real-play-span__6k5ht {
    color: #5e679e;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    margin-right: -10px;
    margin-left: 40px
}

.Slots_demo-toggle__eOQDC .Slots_real-play-span__6k5ht.Slots_mobile-one__mNhmw {
    margin-left: 20px
}

.Slots_demo-toggle__eOQDC .Slots_real-play-span__6k5ht.Slots_mobile-two__GOFxj {
    margin-left: 0
}

.Slots_demo-toggle__eOQDC .Slots_real-play-span__6k5ht.Slots_mobile-three__5_Xpp {
    margin-left: 0;
    font-size: 12px
}

.Slots_demo-toggle__eOQDC .Slots_real-play-span__6k5ht.Slots_demo-mode__lAzg6 {
    color: #e8e5ff
}

.Slots_demo-toggle__eOQDC span {
    color: #e8e5ff;
    font-size: 13px;
    font-style: normal;
    line-height: normal
}

.Slots_demo-toggle__eOQDC span.Slots_demo-mode-real__LFtCq {
    color: #5e679e
}

.Slots_demo-toggle__eOQDC.Slots_mobile-three__5_Xpp span {
    font-size: 12px
}

.Slots_demo-toggle__eOQDC.Slots_guest__vvm9D {
    pointer-events: none
}

.Slots_demo-toggle__eOQDC.Slots_guest__vvm9D .Slots_real-play-span__6k5ht,
.Slots_demo-toggle__eOQDC.Slots_guest__vvm9D div,
.Slots_demo-toggle__eOQDC.Slots_guest__vvm9D span {
    opacity: .5
}

.Slots_demo-toggle__eOQDC.Slots_guest__vvm9D .Slots_real-play-demo__dvtGQ {
    color: #fff;
    opacity: 1
}

.Slots_game-details-container__Tw2KZ {
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto
}

.Slots_game-details-container__slot-mobile-display__uLo_s {
    margin-top: 20px
}

.Slots_all-slots-container__ETMV5 {
    padding-top: 25px
}

.Slots_all-slots-container__ETMV5 .Slots_slots-list__UDEqg {
    display: -webkit-flex;
    display: flex;
    gap: 20px
}

.Slots_all-slots-container__ETMV5 .Slots_slots-list__UDEqg .Slots_quick-link-content__PUwtN {
    border: 1px solid #fff;
    display: block;
    position: relative;
    width: 100px
}

.Slots_all-slots-container__ETMV5 .Slots_more-slots-container__qfKGe {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    padding-top: 20px
}

.Slots_games-might-like-container__4Te3q {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.Slots_accordion__T9hWT {
    margin-bottom: 20px
}

.Slots_accordion__T9hWT>div:nth-child(2)>div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 10px
}