.BlogCard_golden-text__SOfix {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.BlogCard_blog-card-container__RvLZI {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 20px
}

.BlogCard_blog-card-container__RvLZI span {
    height: 250px
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-card-image-container__aKC6Z {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    gap: 20px;
    -webkit-flex: 1 0 0;
    flex: 1 0 0
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-card-header__lWH_W {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    gap: 15px;
    border-radius: 6px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    background: #191f3b;
    padding: 30px 15px
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-card-header__lWH_W h2 {
    font-weight: 600
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-title__amdCw {
    color: #fff;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-preview__UWIRP {
    display: -webkit-flex;
    display: flex;
    padding: 0 10px;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    gap: 24px;
    -webkit-align-self: stretch;
    align-self: stretch
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-preview__UWIRP h3 {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-preview__UWIRP p {
    overflow: hidden;
    color: rgba(232, 229, 255, .75);
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-align-self: stretch;
    align-self: stretch
}

.BlogCard_blog-card-container__RvLZI .BlogCard_blog-preview__UWIRP .BlogCard_blog-poste-date__PsSzN {
    color: rgba(232, 229, 255, .5);
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%
}

.BlogCard_blog-page-container__yxOav {
    min-height: 700px;
    max-width: 900px;
    margin: 0 auto
}

.BlogCard_blog-page-container__wide__qCoNc {
    max-width: 1000px;
    margin-top: 25px
}

.BlogCard_blog-page-container__yxOav.BlogCard_mobile-three__5ulZ_ {
    padding: 0
}

@media(max-width:1100px) {
    .BlogCard_blog-page-container__yxOav {
        padding: 0;
        min-height: auto
    }
}

.BlogCard_blog-page-container__yxOav .BlogCard_created-time__BqXO0 {
    font-size: 14px;
    color: #c1c4dc
}

.BlogCard_blog-page-container__yxOav a {
    color: #abb0c5
}

.BlogCard_blog-page-container__yxOav li ol {
    padding-left: 20px
}

.BlogCard_blog-page-container__yxOav ul {
    padding-left: 25px
}

.BlogCard_blog-page-container__yxOav ul li ul li {
    text-indent: 1em
}

.BlogCard_blog-page-container__yxOav .BlogCard_letter__9rFUc ol {
    list-style-type: upper-alpha
}

.BlogCard_blog-page-container__yxOav h1 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 1.5rem;
    text-align: center;
    color: #fff
}

.BlogCard_blog-page-container__yxOav h2 {
    font-size: 18px;
    margin-top: 2rem
}

.BlogCard_blog-page-container__yxOav h3 {
    font-size: 18px;
    color: #c1c4dc;
    margin-top: 2rem
}

.BlogCard_blog-page-container__yxOav h4,
.BlogCard_blog-page-container__yxOav h5,
.BlogCard_blog-page-container__yxOav h6 {
    font-size: 16px;
    margin-top: 2rem;
    color: #c1c4dc
}

.BlogCard_blog-page-container__yxOav code,
.BlogCard_blog-page-container__yxOav pre {
    margin-top: 15px;
    border-radius: 6px;
    word-wrap: break-word;
    background: #12172f;
    color: #9aa0c1;
    padding: 20px 25px;
    font-size: 14px;
    line-height: 1.5em;
    font-family: monospace;
    letter-spacing: -.06em
}

.BlogCard_blog-page-container__yxOav li,
.BlogCard_blog-page-container__yxOav p {
    color: #b2b1c9
}

.BlogCard_blog-page-container__yxOav li,
.BlogCard_blog-page-container__yxOav p {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 15px
}

.BlogCard_blog-page-container__yxOav.BlogCard_promo__lFeRT {
    list-style-position: inside
}

.BlogCard_blog-page-container__yxOav ol {
    list-style-type: decimal
}

.BlogCard_blog-page-container__yxOav ul {
    list-style-type: circle
}

.BlogCard_blog-page-container__yxOav ol,
.BlogCard_blog-page-container__yxOav ul {
    margin: 15px 0 0
}

.BlogCard_blog-page-container__yxOav ol li,
.BlogCard_blog-page-container__yxOav ul li {
    text-align: left;
    margin-left: 1rem
}

.BlogCard_blog-page-container__yxOav strong {
    font-weight: 600
}

.BlogCard_blog-page-container__yxOav em {
    font-style: italic
}

.BlogCard_blog-page-container__yxOav table {
    width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px
}

.BlogCard_blog-page-container__yxOav table tr {
    display: table-row;
    vertical-align: middle;
    font-family: var(--main-font);
    color: #c1c4dc;
    height: 28px;
    border-radius: 6px
}

.BlogCard_blog-page-container__yxOav table tr:last-child {
    border-bottom: none
}

.BlogCard_blog-page-container__yxOav table tr td {
    padding: 12px 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 14px
}

.BlogCard_blog-page-container__yxOav table tr td span {
    font-size: 14px
}

.BlogCard_blog-page-container__yxOav table tr:nth-of-type(odd) {
    background-color: #13172f
}

.BlogCard_blog-page-container__yxOav table tr.BlogCard_space-items__tXnsu {
    padding-bottom: 10px
}

.BlogCard_blog-page-container__yxOav table tr.BlogCard_heading__MSJAm {
    background-color: transparent
}

.BlogCard_blog-page-container__yxOav table tr.BlogCard_heading__MSJAm>div {
    color: #5b628c
}

.BlogCard_blog-page-container__yxOav table tr>div {
    font-family: var(--main-font);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-style: normal;
    line-height: normal
}

.BlogCard_blog-page-container__yxOav table tr>div:first-child {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-left: 15px
}

.BlogCard_blog-page-container__yxOav table tr>div:last-child {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 15px
}

.BlogCard_blog-page-container__yxOav .BlogCard_header-nav__1ol4_ {
    margin-bottom: 20px
}

.BlogCard_blog-page-container__yxOav .BlogCard_blog-page-title__6O973 {
    padding-top: 30px;
    padding-bottom: 60px
}

.BlogCard_blog-page-container__yxOav .BlogCard_blog-page-title__6O973 .BlogCard_meta-info__QZ5Ma {
    display: -webkit-flex;
    display: flex;
    gap: 20px;
    -webkit-justify-content: center;
    justify-content: center
}

.BlogCard_blog-page-container__yxOav .BlogCard_blog-page-title__6O973 .BlogCard_meta-info__QZ5Ma .BlogCard_section__AcTk3 .BlogCard_item-name__ida3W {
    color: #5b628c
}

.BlogCard_blog-page-container__yxOav .BlogCard_blog-page-title__6O973 .BlogCard_meta-info__QZ5Ma .BlogCard_section__AcTk3 span {
    font-size: 14px;
    color: #e8e5ff
}

.BlogCard_blog-page-container__yxOav .BlogCard_breadcrumbs__v30kF {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.5em;
    font-size: 14px;
    color: #c1c4dc;
    margin-bottom: 20px;
    text-transform: capitalize
}

.BlogCard_blog-page-container__yxOav .BlogCard_breadcrumbs__v30kF svg {
    margin-left: 10px;
    margin-right: 10px
}

.BlogCard_blog-page-container__yxOav .BlogCard_blog-page-image__8FTaU {
    aspect-ratio: 3/1;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: 20px 0
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a {
    display: -webkit-flex;
    display: flex;
    gap: 40px;
    -webkit-justify-content: center;
    justify-content: center
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav-container__WWjdo {
    width: 20%;
    transition: opacity .3s ease-in-out
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav-container__WWjdo.BlogCard_hide__8HEkR {
    opacity: 0;
    pointer-events: none
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb {
    margin-top: 15px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb a {
    line-height: 1.4em;
    margin-bottom: 20px;
    display: block;
    opacity: .5;
    transition: opacity .2s ease-in-out, border-left .2s ease-in-out
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb a span {
    font-weight: 400;
    color: #e8e5ff;
    font-size: 14px
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb a.BlogCard_active-anchor__K5_o_ {
    border-left: 1px solid #0077db;
    opacity: 1
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb a:hover {
    opacity: 1
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_main-content__HLjJy {
    width: 80%
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh {
    padding: 20px;
    display: block;
    border: none;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    display: none
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh span {
    font-size: 14px
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh .BlogCard_arrow__jKORB {
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh .BlogCard_arrow__jKORB svg {
    width: 20px
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh:hover {
    cursor: pointer
}

.BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh.BlogCard_active__BOwjr .BlogCard_arrow__jKORB {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

@media(max-width:1100px) {
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a {
        -webkit-flex-direction: column;
        flex-direction: column
    }
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_mobile-table-toggle__s3bOh {
        display: -webkit-flex;
        display: flex;
        background-color: #13172f
    }
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_main-content__HLjJy {
        width: 100%
    }
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav-container__WWjdo {
        left: 0;
        right: 0;
        width: 100%;
        position: fixed;
        background-color: #191f3b;
        height: auto;
        top: 70px;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        pointer-events: none
    }
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav-container__WWjdo.BlogCard_show__UUqWb {
        opacity: 1;
        pointer-events: all
    }
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb {
        margin-top: 0;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        gap: 0;
        height: 0;
        overflow: hidden
    }
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav__wQSsb a {
        margin: 10px 0
    }
}

@media(max-width:420px) {
    .BlogCard_blog-page-container__yxOav .BlogCard_main-content-section___cb3a .BlogCard_side-nav-container__WWjdo {
        top: 110px
    }
}

.ValueIcons_golden-text__MirFv {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ValueIcons_value-icon__AeyXs {
    width: 20px;
    display: -webkit-inline-flex;
    display: inline-flex
}

.ValueIcons_value-icon__AeyXs.ValueIcons_large__zugCg {
    width: 18px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_mid__IZqLX {
    width: 15px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_small__O9nT_ {
    width: 13px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_inline-popup-icon__0xjuK {
    width: 13px;
    display: block
}

.ValueIcons_value-icon__AeyXs svg {
    width: 100%
}

.ValueIcons_value-icon__AeyXs .ValueIcons_text-icon__Qi9Ky {
    font-size: 14px;
    padding: 0;
    color: #daa030
}

.ValueDisplay_golden-text__sgEYs {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ValueDisplay_value-display__Zl3L5 {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 4px
}

.ValueDisplay_value-display__Zl3L5 .ValueDisplay_value-number-display__Z3TJd {
    color: rgba(232, 229, 255, .85)
}

.ValueDisplay_custom-value-display__2_hjf {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 4px
}

.ValueDisplay_custom-value-display__2_hjf span {
    color: rgba(232, 229, 255, .75);
    font-size: 13px
}

.ValueDisplay_currency-icon__zh_dK {
    width: 22px;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_xlarge__OO6SL {
    width: 25px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_large__cvUlo {
    width: 20px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_mid__sv_Ck {
    width: 17px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_small__oYAlV {
    width: 14px;
    height: 14px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_balance__0I_4W {
    width: 15px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_inline-popup-icon__a9E42 {
    width: 13px;
    display: block
}

.ValueDisplay_currency-icon__zh_dK svg {
    width: 100%
}

.ValueDisplay_currency-icon__zh_dK .ValueDisplay_text-icon__iyt_H {
    font-size: inherit;
    padding: 0;
    color: #daa030
}

.ValueDisplay_span-class__rx28A {
    color: rgba(232, 229, 255, .75);
    font-size: 12px;
    display: inline-block
}

.ValueDisplay_text-currency__eWvkF {
    gap: 2px
}

.ValueDisplay_text-display__l63tN {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 500
}

.ValueDisplay_value__8zmxa.ValueDisplay_value-number-display__Z3TJd {
    color: rgba(232, 229, 255, .85)
}

.ValueDisplay_value__8zmxa.ValueDisplay_value-number-display__Z3TJd[style*="--symbol-color"] span[data-currency-symbol=true] {
    color: var(--symbol-color)
}