.popup_golden-text__jCowL {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.popup_horizontal-line__elExI {
    background-color: hsla(0, 0%, 100%, .2);
    margin: 15px 0;
    height: 1px;
    width: 100%
}

.popup_popup-container__oHPEP {
    height: 1000px;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 80px;
    width: 200px;
    z-index: 10010
}

.popup_popup-content__qhH_o {
    -webkit-align-items: center;
    align-items: center;
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .15));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .15));
    opacity: 0;
    padding: 15px 20px;
    pointer-events: auto;
    position: fixed;
    right: 30px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 300px
}

.popup_popup-content__qhH_o * {
    pointer-events: none
}

.popup_popup-content__qhH_o:hover {
    cursor: pointer
}

.popup_popup-content__qhH_o .popup_close-icon__ri45p {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.popup_popup-content__qhH_o .popup_close-icon__ri45p svg {
    width: 10px
}

.popup_popup-content__qhH_o .popup_flex-container__Pl6At {
    display: -webkit-flex;
    display: flex;
    gap: 10px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%
}

.popup_popup-content__qhH_o .popup_icon-container__hl_g_ {
    -webkit-align-items: baseline;
    align-items: baseline;
    display: -webkit-flex;
    display: flex
}

.popup_popup-content__qhH_o .popup_icon-container__hl_g_ svg {
    width: 20px
}

.popup_popup-content__qhH_o .popup_icon-container__hl_g_.popup_icon-rotation__qPjyK {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.popup_popup-content__qhH_o .popup_icon-text-content__yE8mw {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    width: 80%
}

.popup_popup-content__qhH_o .popup_icon-text-content__yE8mw span {
    color: #e8e5ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-break: auto;
    line-height: 1.3em
}

.popup_popup-content__qhH_o .popup_icon-text-content__yE8mw .popup_value-display__ujzij {
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 700;
    margin-right: 0;
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
}

.popup_popup-content__qhH_o .popup_icon-text-content__yE8mw .popup_value-display__ujzij .popup_token-content__Wyz95 {
    margin-right: 1px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
}

.popup_popup-content__qhH_o .popup_icon-text-content__yE8mw .popup_value-display__ujzij .popup_token-content__Wyz95 svg {
    width: 12px
}

.popup_popup-content__qhH_o .popup_loading-bar__MU4OZ {
    background-color: hsla(0, 0%, 100%, .1);
    border-radius: 20px;
    bottom: 15px;
    height: 3px;
    left: 20px;
    overflow: hidden;
    position: absolute;
    width: 87%
}

.popup_popup-content__qhH_o .popup_loading-bar__MU4OZ .popup_bar__XJjSk {
    border-radius: 20px;
    bottom: 0;
    height: 100%;
    width: 100%
}

.popup_popup-content__qhH_o.popup_popup-type-0__oW1qG {
    background: radial-gradient(ellipse at top, rgba(209, 64, 63, 0), rgba(209, 64, 63, .2)), radial-gradient(ellipse at bottom, rgba(209, 64, 63, .2), rgba(209, 64, 63, 0)), #191f3b;
    border: 1px solid rgba(209, 64, 63, .5)
}

.popup_popup-content__qhH_o.popup_popup-type-0__oW1qG .popup_loading-bar__MU4OZ .popup_bar__XJjSk {
    background-color: #d1403f
}

.popup_popup-content__qhH_o.popup_popup-type-0__oW1qG .popup_icon-container__hl_g_ svg {
    width: 18px
}

.popup_popup-content__qhH_o.popup_popup-type-1__6thpf {
    background: linear-gradient(0deg, rgba(75, 174, 79, .2), rgba(75, 174, 79, .1)), linear-gradient(#191f3b, #191f3b);
    border: 1px solid rgba(75, 174, 79, .5)
}

.popup_popup-content__qhH_o.popup_popup-type-1__6thpf .popup_loading-bar__MU4OZ .popup_bar__XJjSk {
    background-color: #00e075
}

.popup_popup-content__qhH_o.popup_popup-type-1__6thpf .popup_icon-container__hl_g_ svg path {
    fill: #00e075;
    stroke: #00e075
}

.popup_popup-content__qhH_o.popup_popup-type-2__epIQV {
    background: radial-gradient(ellipse at top, rgba(109, 114, 136, 0), rgba(109, 114, 136, .2)), radial-gradient(ellipse at bottom, rgba(109, 114, 136, .2), rgba(109, 114, 136, .1)), #191f3b;
    border: 1px solid rgba(109, 114, 136, .8)
}

.popup_popup-content__qhH_o.popup_popup-type-2__epIQV .popup_loading-bar__MU4OZ .popup_bar__XJjSk {
    background-color: #6d7288
}

.popup_popup-content__qhH_o.popup_popup-type-2__epIQV .popup_icon-container__hl_g_ {
    display: none
}

.popup_value-display-container__2_i0V {
    display: -webkit-inline-flex;
    display: inline-flex;
    gap: 2px;
    margin-left: 1px;
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
}

.popup_value-display-container__2_i0V svg {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.popup_value-display-container__2_i0V .popup_token-content__Wyz95 {
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
}

.popup_value-display-container__2_i0V .popup_value-icon__lxe9_ {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.popup_value-display-container__2_i0V .popup_rain-icon__oZzvs {
    display: inline-block;
    margin: 0 3px 0 1px
}

.popup_value-display-container__2_i0V :first-child {
    -webkit-align-items: flex-start;
    align-items: flex-start
}