.ButtonSwitch_golden-text__j_qVI {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ButtonSwitch_button-switch__EZ8xM {
    background: hsla(0, 0%, 100%, .05);
    padding: 4px;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    max-width: 418px;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    max-height: 48px;
    display: -webkit-flex;
    display: flex
}

.ButtonSwitch_button-switch__EZ8xM label {
    padding: 12px 20px;
    border-radius: 6px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .25s ease-in-out
}

.ButtonSwitch_button-switch__EZ8xM label:hover {
    background: hsla(0, 0%, 100%, .1)
}

@media screen and (max-width:570px) {
    .ButtonSwitch_button-switch__EZ8xM label {
        max-width: 100px
    }
}

.ButtonSwitch_button-switch__EZ8xM input:checked+label {
    pointer-events: none;
    background: var(--btn-color)
}

@media(max-width:420px) {
    .ButtonSwitch_button-switch__EZ8xM {
        max-width: 312px
    }
}

.tippy-box[data-animation=scale][data-placement^=top] {
    -webkit-transform-origin: bottom;
    transform-origin: bottom
}

.tippy-box[data-animation=scale][data-placement^=bottom] {
    -webkit-transform-origin: top;
    transform-origin: top
}

.tippy-box[data-animation=scale][data-placement^=left] {
    -webkit-transform-origin: right;
    transform-origin: right
}

.tippy-box[data-animation=scale][data-placement^=right] {
    -webkit-transform-origin: left;
    transform-origin: left
}

.tippy-box[data-animation=scale][data-state=hidden] {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0
}

.tippy-box[data-animation=shift-away-subtle][data-state=hidden] {
    opacity: 0
}

.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=top] {
    -webkit-transform: translateY(5px);
    transform: translateY(5px)
}

.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=bottom] {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=left] {
    -webkit-transform: translateX(5px);
    transform: translateX(5px)
}

.tippy-box[data-animation=shift-away-subtle][data-state=hidden][data-placement^=right] {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px)
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    position: relative;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: visibility, opacity, -webkit-transform;
    transition-property: transform, visibility, opacity;
    transition-property: transform, visibility, opacity, -webkit-transform
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    bottom: -7px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: initial;
    -webkit-transform-origin: center top;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    top: -7px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    left: -7px;
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    -webkit-transform-origin: center right;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #333
}

.tippy-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid
}

.tippy-content {
    position: relative;
    padding: 5px 9px;
    z-index: 1
}

.ToolTip_golden-text__7smhy {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ToolTip_container__7uaxp {
    position: relative;
    display: inline-block
}

.ToolTip_tippy-container__TM_Oj {
    border-radius: 6px;
    min-width: 100px;
    max-width: 300px;
    color: #e8e5ff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    overflow-wrap: break-word
}

.ToolTip_tippy-container__TM_Oj.ToolTip_big__oVaeD {
    padding: 10px 20px;
    font-size: 15px
}

.ToolTip_tippy-container__TM_Oj.ToolTip_small__65MDf {
    padding: 6px 12px;
    min-width: 40px;
    font-size: 13px
}

.ToolTip_tippy-container__TM_Oj.ToolTip_error-tooltip__x0fwO {
    color: #892f2f
}

@media screen and (max-width:769px) {
    .ToolTip_tippy-container__TM_Oj {
        max-width: 200px
    }
}

.ToolTip_custom-arrow__LnTIB {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #212749;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    top: -5px;
    left: calc(50% - 5px)
}

.ToolTip_tooltip__1QyCO {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100px;
    padding: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    font-family: var(--main-font);
    font-size: 15px
}

.ToolTip_container__7uaxp:hover .ToolTip_tooltip__1QyCO {
    visibility: visible;
    opacity: 1
}

.ToolTip_flyout-container__GCXa6 {
    min-height: 200px;
    max-height: 400px;
    z-index: 1000;
    width: 200px;
    overflow: auto
}

.ToolTip_flyout-container__GCXa6::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

.ToolTip_flyout-container__GCXa6::-webkit-scrollbar-thumb {
    background: #1b213e;
    border-radius: 6px
}

.ToolTip_flyout-container__GCXa6::-webkit-scrollbar-track {
    background: transparent
}

.ToolTip_flyout-container__GCXa6 {
    scrollbar-face-color: #1b213e;
    scrollbar-track-color: transparent
}

.ToolTip_flyout-container__GCXa6 .ToolTip_inner-flyout-container__ewvko {
    padding: 5px 4px 6px 6px;
    top: 18px;
    right: 2px;
    left: 6px;
    bottom: 0;
    overflow-y: auto;
    background-color: #171d3b
}

.ToolTip_flyout-container__GCXa6 .ToolTip_inner-flyout-container__ewvko.ToolTip_side-menu-nav__ubBdp {
    background-color: #000
}

.ValueIcons_golden-text__MirFv {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ValueIcons_value-icon__AeyXs {
    width: 20px;
    display: -webkit-inline-flex;
    display: inline-flex
}

.ValueIcons_value-icon__AeyXs.ValueIcons_large__zugCg {
    width: 18px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_mid__IZqLX {
    width: 15px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_small__O9nT_ {
    width: 13px
}

.ValueIcons_value-icon__AeyXs.ValueIcons_inline-popup-icon__0xjuK {
    width: 13px;
    display: block
}

.ValueIcons_value-icon__AeyXs svg {
    width: 100%
}

.ValueIcons_value-icon__AeyXs .ValueIcons_text-icon__Qi9Ky {
    font-size: 14px;
    padding: 0;
    color: #daa030
}

.ValueDisplay_golden-text__sgEYs {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.ValueDisplay_value-display__Zl3L5 {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 4px
}

.ValueDisplay_value-display__Zl3L5 .ValueDisplay_value-number-display__Z3TJd {
    color: rgba(232, 229, 255, .85)
}

.ValueDisplay_custom-value-display__2_hjf {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    gap: 4px
}

.ValueDisplay_custom-value-display__2_hjf span {
    color: rgba(232, 229, 255, .75);
    font-size: 13px
}

.ValueDisplay_currency-icon__zh_dK {
    width: 22px;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_xlarge__OO6SL {
    width: 25px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_large__cvUlo {
    width: 20px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_mid__sv_Ck {
    width: 17px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_small__oYAlV {
    width: 14px;
    height: 14px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_balance__0I_4W {
    width: 15px
}

.ValueDisplay_currency-icon__zh_dK.ValueDisplay_inline-popup-icon__a9E42 {
    width: 13px;
    display: block
}

.ValueDisplay_currency-icon__zh_dK svg {
    width: 100%
}

.ValueDisplay_currency-icon__zh_dK .ValueDisplay_text-icon__iyt_H {
    font-size: inherit;
    padding: 0;
    color: #daa030
}

.ValueDisplay_span-class__rx28A {
    color: rgba(232, 229, 255, .75);
    font-size: 12px;
    display: inline-block
}

.ValueDisplay_text-currency__eWvkF {
    gap: 2px
}

.ValueDisplay_text-display__l63tN {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    font-weight: 500
}

.ValueDisplay_value__8zmxa.ValueDisplay_value-number-display__Z3TJd {
    color: rgba(232, 229, 255, .85)
}

.ValueDisplay_value__8zmxa.ValueDisplay_value-number-display__Z3TJd[style*="--symbol-color"] span[data-currency-symbol=true] {
    color: var(--symbol-color)
}

.Races_golden-text__PU22S {
    background: linear-gradient(181.17deg, #ffd999 14.35%, #e49d26 99%);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.Races_how-it-works____X2X {
    max-width: 420px
}

.Races_how-it-works____X2X .Races_crown__iR94l {
    margin-right: 8px
}

.Races_how-it-works____X2X>div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 1rem
}

.Races_how-it-works____X2X>div p {
    font-weight: 600;
    font-size: 17px
}

.Races_how-it-works____X2X p {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 14px;
    color: #b2b1c9
}

.Races_how-it-works____X2X p:last-child {
    margin: 0
}

.Races_races__tDbUI .Races_content__lRP7k {
    display: -webkit-flex;
    display: flex;
    gap: 26px;
    margin-top: 32px;
    font-size: 13px;
    position: relative;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    line-height: 1.15rem;
    color: #e8e5ff
}

@media(max-width:768px) {
    .Races_races__tDbUI .Races_content__lRP7k {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.Races_races__tDbUI .Races_content__lRP7k h3 {
    font-size: 14px;
    color: #e8e5ff
}

.Races_races__tDbUI .Races_content__lRP7k .Races_table__peFz9 {
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C {
    width: 260px;
    padding: 24px;
    background: radial-gradient(at center bottom, #262c52 -100%, #0f1328 100%);
    border: 1px solid rgba(94, 103, 158, .3);
    border-radius: 6px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 10px
}

@media(max-width:768px) {
    .Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C {
        width: 100%;
        margin: 0 auto;
        -webkit-order: -1;
        order: -1
    }
}

.Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C .Races_stat__jSV0y {
    width: 100%;
    height: 45px;
    padding: 14px;
    border-radius: 6px;
    background: rgba(94, 103, 158, .04);
    border: 1px solid rgba(94, 103, 158, .3);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 10px
}

.Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C .Races_stat__jSV0y>span {
    color: rgba(232, 229, 255, .75)
}

.Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C .Races_next-stat__DWDq_ {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: .25rem
}

@media(max-width:768px) {
    .Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C .Races_next-stat__DWDq_ {
        margin-top: 1rem
    }
}

.Races_races__tDbUI .Races_content__lRP7k .Races_stats__CBM0C .Races_next-stat__DWDq_>span {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-self: center;
    color: rgba(232, 229, 255, .75)
}

.Races_races__tDbUI .Races_table__peFz9 {
    text-align: center;
    font-weight: 400;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.Races_races__tDbUI .Races_table__peFz9 .Races_gold--shadow__63S66,
.Races_races__tDbUI .Races_table__peFz9 .Races_gold__fLnKC {
    color: #ffbe18;
    text-wrap: nowrap
}

.Races_races__tDbUI .Races_table__peFz9 .Races_gold--shadow__63S66 {
    text-shadow: 0 0 10px #ffbe18
}

.Races_races__tDbUI .Races_table__peFz9 .Races_gold-color__co2GL span {
    color: #ffbe18
}

.Races_races__tDbUI .Races_table__peFz9 .Races_diamond__wYfoM {
    color: #50f2fe
}

.Races_races__tDbUI .Races_table__peFz9 .Races_platinum__J7CF0 {
    color: #dcdcdc
}

.Races_races__tDbUI .Races_table__peFz9 .Races_bronze__0EHaH {
    color: #d88f46
}

.Races_races__tDbUI .Races_table__peFz9 .Races_head__0cAuW {
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 16px;
    display: -webkit-flex;
    display: flex;
    width: 100%
}

.Races_races__tDbUI .Races_table__peFz9 .Races_head__0cAuW .Races_th__WUfsP {
    color: #5b628c;
    -webkit-flex: 1;
    flex: 1
}

.Races_races__tDbUI .Races_table__peFz9 .Races_head__0cAuW .Races_th__WUfsP:first-child {
    margin-left: 1%;
    width: 60px;
    -webkit-flex: unset;
    flex: unset
}

.Races_races__tDbUI .Races_table__peFz9 .Races_head__0cAuW .Races_th__WUfsP:nth-child(2) {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-left: 3%;
    text-align: left
}

.Races_races__tDbUI .Races_table__peFz9 .Races_head__0cAuW .Races_th__WUfsP:last-child {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 2%;
    text-align: right
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_tr__lW6NF {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 60px;
    background: rgba(36, 41, 77, .349);
    margin-bottom: 8px;
    border-radius: 6px
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_tr__lW6NF.Races_highlighted__KqSqc {
    background: linear-gradient(rgba(255, 190, 24, .1), rgba(255, 190, 24, .3) 100%);
    outline: 1px solid #ffbe18
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N:first-child {
    margin-left: 1%;
    width: 60px;
    -webkit-flex: unset;
    flex: unset
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N:nth-child(2) {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    padding-left: 3%;
    text-align: left
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N:last-child {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 2%;
    text-align: right
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N .Races_rank-wrapper__gUEZD {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    min-height: 100%;
    gap: 6px
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N .Races_rank-wrapper__gUEZD>div:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

@media(max-width:470px) {
    .Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N .Races_rank-wrapper__gUEZD>div:first-child {
        display: none
    }
}

.Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N .Races_rank__I3ALK {
    width: 100%;
    height: 100%;
    text-align: left
}

@media(max-width:1100px) {
    .Races_races__tDbUI .Races_table__peFz9 .Races_tbody__NPKsM .Races_td__9rK3N .Races_rank__I3ALK {
        margin-top: 4px;
        font-size: 12px
    }
}

.Races_races__tDbUI .Races_banner__yyqiB {
    position: relative;
    background-image: url(/Images/races_bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    padding: 48px 24px 48px 64px;
    border-radius: 11px;
    overflow: visible
}

@media screen and (max-width:850px) {
    .Races_races__tDbUI .Races_banner__yyqiB {
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 24px 32px
    }
}

@media screen and (max-width:805px) {
    .Races_races__tDbUI .Races_banner__yyqiB {
        background-position: 85%
    }
}

.Races_races__tDbUI .Races_banner__yyqiB .Races_heading__IjM0I,
.Races_races__tDbUI .Races_banner__yyqiB>div:first-child {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: 24px
}

.Races_races__tDbUI .Races_banner__yyqiB .Races_heading__IjM0I {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: 20px
}

.Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U {
    display: -webkit-flex;
    display: flex;
    gap: 12px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center
}

.Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U .Races_number-card__4ak1E {
    width: 68px;
    height: 80px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 16px 12px;
    border-image-width: 1;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #fff 0, #ffc156);
    border-radius: 6px;
    border: 2px solid #ffd58c;
    background: radial-gradient(76.33% 100% at 50% 100%, rgba(255, 167, 15, .5) 0, rgba(255, 193, 86, 0) 100%), #5a504c;
    box-shadow: 2px 2px 60px 0 hsla(36, 91%, 83%, .3)
}

@media(max-width:570px) {
    .Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U .Races_number-card__4ak1E {
        width: 60px;
        height: 72px;
        padding: 12px 8px
    }
}

.Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U .Races_number-card__4ak1E .Races_number__EutDc {
    font-size: 24px;
    font-weight: 700;
    color: #fff
}

@media(max-width:570px) {
    .Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U .Races_number-card__4ak1E .Races_number__EutDc {
        font-size: 20px
    }
}

.Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U .Races_number-card__4ak1E .Races_text__xw5Zg {
    font-size: 14px;
    font-weight: 700;
    color: rgba(232, 229, 255, .749)
}

@media screen and (max-width:570px) {
    .Races_races__tDbUI .Races_banner__yyqiB .Races_number-card-wrapper__zSi0U .Races_number-card__4ak1E .Races_text__xw5Zg {
        font-size: 12px
    }
}

.Races_races__tDbUI .Races_banner__yyqiB:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 13px;
    z-index: -1;
    background: linear-gradient(180deg, rgba(255, 193, 86, 0) 0, rgba(255, 193, 86, .8) 50%, #ffc156)
}

.Races_races__tDbUI .Races_prize-row__Hg8Q3 {
    -webkit-align-items: center;
    align-items: center
}

@media(min-width:850px) {
    .Races_races__tDbUI .Races_prize-row__Hg8Q3 {
        -webkit-align-items: start;
        align-items: start
    }
}

.Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-style: italic
}

@media(min-width:850px) {
    .Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph {
        width: -webkit-max-content;
        width: max-content
    }
}

.Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_prize__y8qgC {
    font-weight: 700;
    text-shadow: 1.366px 1.366px 0 #fbdcae, 0 10.925px 10.925px rgba(0, 0, 0, .25), 0 0 76.176px rgba(219, 145, 0, .3);
    -webkit-text-stroke-width: 2.1850543022;
    -webkit-text-stroke-color: #000;
    font-size: 45px;
    font-style: italic;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(181deg, #fff 14.35%, #f5f5f5 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

@media(max-width:1100px) {
    .Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_prize__y8qgC {
        font-size: 45px
    }
}

.Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_text__xw5Zg {
    width: -webkit-min-content;
    width: min-content;
    min-width: 155px;
    margin-left: 14px;
    margin-bottom: -4px;
    padding-right: 4px;
    text-shadow: 0 9.074px 9.074px rgba(0, 0, 0, .25), 0 0 36.963px hsla(36, 91%, 83%, .6);
    -webkit-text-stroke-width: .7580902576;
    -webkit-text-stroke-color: #000;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ffdda1 32%, #f69c01);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow-wrap: break-word;
    text-wrap: nowrap
}

@media(max-width:1300px) {
    .Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_text__xw5Zg {
        font-size: 24px;
        text-wrap: nowrap
    }
}

@media(max-width:500px) {
    .Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_text__xw5Zg {
        font-size: 21px;
        text-wrap: wrap
    }
}

@media(max-width:409px) {
    .Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_text__xw5Zg {
        font-size: 18px;
        width: auto
    }
}

.Races_races__tDbUI .Races_prize-row__Hg8Q3 .Races_prize-wrapper__Elvph .Races_text__xw5Zg hr {
    width: 100%;
    height: 3px;
    border: 0;
    border-radius: 6px;
    background: linear-gradient(89.75deg, hsla(38, 69%, 68%, 0) .52%, #e6bd77 101.1%);
    margin: inherit;
    margin-top: 4px
}

.Races_races__tDbUI a {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    max-width: 420px;
    padding: 16px 40px;
    border-radius: 10px;
    border: 1px;
    font-size: 14px;
    border: 1px solid hsla(0, 0%, 100%, .1);
    color: #e8e5ff;
    background: hsla(0, 0%, 100%, .05);
    transition: all .25s ease-in-out
}

.Races_races__tDbUI a:hover {
    background: hsla(0, 0%, 100%, .1)
}